{# CAREFUL : Some client might need to replicate this template #}
{% extends '/email/notification/base.html.twig' %}
{% block body %}
<table style="width:100%;font-family:{{api_env('EMAILS_FONT')}}, sans-serif;">
    <tr>
        <td>
            <table>
                <tr>
                    <td>
                        <p style="color:{{api_env('EMAILS_COLOR_SECONDARY')}};font-size:30" ><b>DEMANDE DE RE-INITIALISATION DE MOT DE PASSE.</b></p>
                        <hr>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table style="width:100%;">
                <tr>
                    <td style="width:70%">
                        <p>Bonjour<b style="color:{{api_env('EMAILS_COLOR_PRIMARY')}}"> {{context.user.givenName|capitalize}} {{context.user.shortFamilyName|capitalize}}</b></p>
                        {% if context.user.backLink and context.user.backLink is not null %}
                            <p><a href="{{ context.user.backLink }}{{ context.user.pwdToken }}" title="">Veuillez cliquer sur ce lien pour changer votre mot de passe.</a></p>
                            <p>Merci!</p>                         
                        {% elseif context.user.mobileRegistration is not null %}
                            <p><a href="{{ api_env('EMAILS_MOBILE_PLATFORM_URL') }}/#/carpools/reset-password?token={{ context.user.pwdToken }}" title="">Veuillez cliquer sur ce lien pour changer votre mot de passe.</a></p>
                            <p>Merci!</p>                         
                        {% else %}
                            <p><a href="{{ api_env('EMAILS_PLATFORM_URL') }}/utilisateur/mot-de-passe/reset/{{ context.user.pwdToken }}" title="">Veuillez cliquer sur ce lien pour changer votre mot de passe.</a></p>
                            <p>Merci!</p>                        
                        {% endif %}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
     <tr>
        <td>
            <table  style="width:100%;">
                <tr style="text-align:left">
                    <td>
                        <p>A bientôt sur <a style="color:{{api_env('EMAILS_COLOR_PRIMARY')}}" href="{{api_env('EMAILS_PLATFORM_URL')}}">{{api_env('EMAILS_PLATFORM_NAME')}}</a>
                    </td>
                </tr>
                <hr>
            </table>
        </td>
    </tr>
</table>
{% endblock %}    
