<!DOCTYPE html>
<html lang="fr">
    {% block head %}
    <head>
        <meta charset="UTF-8">
        <title>{% if metaTitle is defined %}{{metaTitle}}{% else %}{% block title %}{% trans from 'meta' %}meta.default.title{% endtrans %}{% endblock %}{% endif %}</title>
        
        <meta content="width=device-width, initial-scale=1" name="viewport">
        
        <meta name="description" content="{% if metaDescription is defined %}{{metaDescription}}{% else %}{% block desc %}{% trans from 'meta' %}meta.default.description{% endtrans %}{% endblock %}{% endif %}">

        {{ encore_entry_link_tags("#{assets_prefix ?? ''}main") }}
        {% block favicon %}
         {% endblock %}
         {% block stylesheets %}
         {% endblock %}

        {% if matomoUrl is defined and matomoUrl is not null and matomoUrl != '' %}
            {% include '@Mobicoop/matomo.html.twig' %}
        {% endif %}

        {% if googleAnalyticsId is defined and googleAnalyticsId is not null and googleAnalyticsId != '' %}
            {% include '@Mobicoop/googleAnalytics.html.twig' %}
        {% endif %}
    </head>
    {% endblock %}
    <body>
        <div id="app">
            <v-app>
                {% if app.user %}
                    <m-header 
                        :user="{{app.user|json_encode}}"
                        :url-mobile="{{urlMobile|json_encode}}"                    
                        :publish-button-always-active="{{ publishButtonAlwaysActive ? "true" : "false" }}"
                        :show-reviews="{{ app.user.userReviewsActive ? "true" : "false" }}"
                        :locale="{{ app.user.language is null ? app.session.get('language') is null ? app.request.locale|json_encode : app.session.get('language')|json_encode : app.user.language.code|json_encode }}"
                        :languages="{{languages|json_encode}}"
                    ></m-header>
                {% else %}
                    <m-header 
                        token="{{token.getToken}}"
                        :url-mobile="{{urlMobile|json_encode}}"
                        :publish-button-always-active="{{ publishButtonAlwaysActive ? "true" : "false" }}"
                        :locale="{{ app.session.get('language') is null ? app.request.locale|json_encode : app.session.get('language')|json_encode }}"
                        :languages="{{languages|json_encode}}"
                    ></m-header>
            {% endif %}

                {% block content %}                    
                    <v-main>
                        {% block main %}{% endblock %}
                    </v-main>
                {% endblock %}
                {% block footer %}
                    <m-footer app-name="{{ app_name }}" :cookies-show-auto="{{ cookiesShowAuto ? 'true' : 'false'}}" :social-networks-active="{{ facebookShow ? 'true' : 'false'}}"></m-footer>
                {% endblock %}
            </v-app>
        </div>
    </body>

    {{ encore_entry_script_tags("#{assets_prefix ?? ''}app") }}
    {% block javascripts %}{% endblock %}
</html>