{% extends '@Mobicoop/base.html.twig' %}

{% block title %}{% trans from 'ui' %}carpool.ad_create.title{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('bundle_ad/create') }}
{% endblock %}

{% block body %}

<section class="hero is-primary">
	<div class="hero-body">
    	<div class="container">
      		<h1 class="title">
        		Mobicoop - {% trans from 'ui' %}carpool.ad_create.h1{% endtrans %}
      		</h1>
    	</div>
  	</div>
</section>

<section class="section">
	<div class="container">
		{% if error %}
		<span class="tag is-danger">An error occured.</span>
		{% endif %}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.origin) }}
        {{ form_row(form.destination) }}
        {{ form_row(form.role) }}
        {{ form_row(form.type) }}
        {{ form_row(form.frequency) }}
        <div v-show="frequency==1">
            <div class="columns">
                <div class="column">
                    <h2 class="title">Aller</h2>
                    {{ form_row(form.outwardDate) }}
                    {{ form_row(form.outwardTime) }}
                    {{ form_row(form.outwardMargin) }}
                </div>
                <div class="column" v-show="type==2">
                    <h2 class="title">Retour</h2>
                    {{ form_row(form.returnDate) }}
                    {{ form_row(form.returnTime) }}
                    {{ form_row(form.returnMargin) }}
                </div>
            </div>
        </div>
        <div v-show="frequency==2">
            {{ form_row(form.fromDate) }}
            {{ form_row(form.toDate) }}
            <div class="columns">
                <div class="column">
                    <h2 class="title">Aller</h2>
                    {{ form_row(form.outwardMonTime) }}
                    {{ form_row(form.outwardMonMargin) }}
                    {{ form_row(form.outwardTueTime) }}
                    {{ form_row(form.outwardTueMargin) }}
                    {{ form_row(form.outwardWedTime) }}
                    {{ form_row(form.outwardWedMargin) }}
                    {{ form_row(form.outwardThuTime) }}
                    {{ form_row(form.outwardThuMargin) }}
                    {{ form_row(form.outwardFriTime) }}
                    {{ form_row(form.outwardFriMargin) }}
                    {{ form_row(form.outwardSatTime) }}
                    {{ form_row(form.outwardSatMargin) }}
                    {{ form_row(form.outwardSunTime) }}
                    {{ form_row(form.outwardSunMargin) }}
                </div>
                <div class="column" v-show="type==2">
                    <h2 class="title">Retour</h2>
                    {{ form_row(form.returnMonTime) }}
                    {{ form_row(form.returnMonMargin) }}
                    {{ form_row(form.returnTueTime) }}
                    {{ form_row(form.returnTueMargin) }}
                    {{ form_row(form.returnWedTime) }}
                    {{ form_row(form.returnWedMargin) }}
                    {{ form_row(form.returnThuTime) }}
                    {{ form_row(form.returnThuMargin) }}
                    {{ form_row(form.returnFriTime) }}
                    {{ form_row(form.returnFriMargin) }}
                    {{ form_row(form.returnSatTime) }}
                    {{ form_row(form.returnSatMargin) }}
                    {{ form_row(form.returnSunTime) }}
                    {{ form_row(form.returnSunMargin) }}
                </div>
            </div>
        </div>
        {{ form_row(form.comment) }}
        {{ form_row(form.price) }}
        {{ form_row(form._token) }}
        {{ form_row(form.submit) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
</section>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('bundle_ad/create') }}
{% endblock %}
