{% extends '@Mobicoop/base.html.twig' %}

{% block title %}{% trans from 'ui' %}carpool.ad_create.title{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('ad_create') }}
    <link rel="stylesheet" href="/vue2-autocomplete.css">
{% endblock %}

{% block body %}

<section class="hero is-primary">
	<div class="hero-body">
    	<div class="container">
      		<h1 class="title">
        		Mobicoop - {% trans from 'ui' %}carpool.ad_create.h1{% endtrans %}
      		</h1>
    	</div>
  	</div>
</section>

<section class="section">
	<div class="container">
		{% if error %}
		<span class="tag is-danger">An error occured.</span>
		{% endif %}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_end(form) }}
    </div>
</section>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('ad_create') }}
{% endblock %}
