{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}

<section class="hero is-primary">
	<div class="hero-body">
    	<div class="container">
      		<h1 class="title">
        		Coviride Demo application - User detail
      		</h1>
    	</div>
  	</div>
</section>

<section class="section">
	<div class="container">
    	<table class="table">
          	<tr><th>#</th><td>{{ user.id }}</td></tr>
          	<tr><th>givenName</th><td>{{ user.givenName }}</td></tr>
          	<tr><th>familyName</th><td>{{ user.familyName }}</td></tr>
          	<tr><th>email</th><td>{{ user.email }}</td></tr>
          	<tr><th>birthDate</th><td>{{ user.birthDate ? user.birthDate|date('Y-m-d') }}</td></tr>
          	<tr><th>gender</th><td>{{ user.gender }}</td></tr>
          	<tr><th>nationality</th><td>{{ user.nationality }}</td></tr>
          	<tr><th>telephone</th><td>{{ user.telephone }}</td></tr>
          	<tr><th>addresses</th>
          	<td>
          		{% for userAddress in user.userAddresses %}
          		<ul>
          			<li>{{ userAddress.name }}
          				<ul>
          					<li>{{ userAddress.address.streetAddress }}</li>
          					<li>{{ userAddress.address.postalCode }}</li>
          					<li>{{ userAddress.address.addressLocality }}</li>
          					<li>{{ userAddress.address.addressCountry }}</li>
          				</ul>
          			</li>
          		</ul>
          		{% endfor %}
          	</td>
      	</table>
	</div>
</section>

{% endblock %}
