{% extends '@Mobicoop/base.html.twig' %}

{% block title %}{% trans from 'meta' %}meta.relaypoints.title{% endtrans %}{% endblock %}
{% block desc %}{% trans from 'meta' %}meta.relaypoints.description{% endtrans %}{% endblock %}

{% block main %}
    {# <div>
        <pre>
            {{ dump(relayPoints) }}
        </pre>
    </div> #}
    <div>
        <relay-points
            geo-search-url="{{ geoCompleteUri }}"
            :geo-complete-results-order="{{geoCompleteResultsOrder|json_encode}}"
            :geo-complete-palette="{{geoCompletePalette|json_encode}}"
            {{ geoCompleteChip ? 'geo-complete-chip' : '' }}
            :user="{{ app.user|json_encode }}"
            :map-provider="{{ mapProvider|json_encode }}"
            :url-tiles="{{ urlTiles|json_encode }}"
            :attribution-copyright="{{ attributionCopyright|json_encode }}"
        ><relay-points/>
    </div>
{% endblock %}
