{% extends '@Mobicoop/base.html.twig' %}

{% block title %}Résultats{% endblock %}
{% block stylesheets %}
  {{ encore_entry_link_tags('bundle_search/simpleResults') }}
{% endblock %}

{% block body %}

<section class="hero is-secondary">
	<div class="hero-body">
    	<div class="container">
      		<h1 class="title">
        		Résultats de recherche
      		</h1>
    	</div>
  	</div>
</section>

<section id="simple">
<Resultssearchform geo-search-url="/geosearch?search=" route="covoiturage/recherche" date="{{date|date('m/d/Y')}}" time="{{date|date('H:i')}}" origin="{{origin}}" destination="{{destination}}"></Resultssearchform>
</section>
<section class="section">
	<div class="container">
	    {% if error is defined %}
		<span class="tag is-danger">{{ error }}</span>
		{% endif %}
    		<h2 class="title">Résultats</h2>
			{% if hydra and hydra.member|length>0  %}
				{% for proposal in hydra.member %}
						{% if proposal.matchingRequests and proposal.matchingRequests|length>0  %}
								{% for matching in proposal.matchingRequests %}
								<section class="section">
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-12">
        <div class="tile is-child results">
          <div class="columns is-vcentered ">
            <div class="column">
							<p>avatar</p>
						</div>
						<div class="column">
							<p>typeU<p>
						</div>
						<div class="column">
							<p>{{ matching.proposalOffer.user.givenName|capitalize }} {{ matching.proposalOffer.user.familyName|first|upper }}<p>
						</div>
						<div class="column">
							<p>note<p>
						</div>
						<div class="column">
							<a href="mailto:{{ matching.proposalOffer.user.email }}">contacter</a>
						</div>		
					</div>
					<div class="columns is-vcentered ">
						<div class="column">
							<p>{{ matching.proposalOffer.criteria.fromDate|date('d/m/Y') }}<p>
						</div>
						<div class="column">
							<p>{{ matching.proposalOffer.criteria.fromTime|date('H:i') }}</p>
							<p>{{ matching.proposalOffer.criteria.fromTime|date('H:i') }}</p>
						</div>
						<div class="column">
							<p>heure arrivée</p>
							<p>ville arrivée</p>
						</div>
						<div class="column">
							<p>tarif</p>
						</div>
					</div>
					<div class="columns is-vcentered ">
						<div class="column">
							<p>bouton voir detail<p>
						</div>
						<div class="column">
							<p>source</p>
						</div>
					</div>	
				</div>
			</div>
		</div>
</section>				
									
											{% if matching.proposalOffer.criteria.frequency == 1 %}
												{# punctual #}
											{% else %}
												{# regular #}
												{{ matching.proposalRequest.criteria.fromDate|date('d/m/Y') }} à 
												{% if matching.proposalRequest.criteria.fromDate|date('w') == 0 %}
													{{ matching.proposalOffer.criteria.sunTime|date('H:i') }}
												{% elseif matching.proposalRequest.criteria.fromDate|date('w') == 1 %}
													{{ matching.proposalOffer.criteria.sunTime|date('H:i') }}
												{% elseif matching.proposalRequest.criteria.fromDate|date('w') == 2 %}
													{{ matching.proposalOffer.criteria.sunTime|date('H:i') }}
												{% elseif matching.proposalRequest.criteria.fromDate|date('w') == 3 %}
													{{ matching.proposalOffer.criteria.sunTime|date('H:i') }}
												{% elseif matching.proposalRequest.criteria.fromDate|date('w') == 4 %}
													{{ matching.proposalOffer.criteria.sunTime|date('H:i') }}
												{% elseif matching.proposalRequest.criteria.fromDate|date('w') == 5 %}
													{{ matching.proposalOffer.criteria.sunTime|date('H:i') }}
												{% elseif matching.proposalRequest.criteria.fromDate|date('w') == 6 %}
													{{ matching.proposalOffer.criteria.sunTime|date('H:i') }}
												{% endif %}								
											{% endif %}
										</td>
										<td>{{ matching.proposalOffer.type == 1 ? "Aller simple" : "Aller-retour" }}</td>
										<td>{{ matching.proposalOffer.criteria.frequency == 1 ? "Ponctuel" : "Régulier" }}</td>
										<td>{{ matching.proposalOffer.waypoints[0].address.addressLocality }}</td>
										<td>{{ matching.proposalOffer.waypoints[1].address.addressLocality }}</td>
										<td>{{ (matching.filters.newDistance / 1000) | round(2) }}km</td>
										<td>{{ (matching.filters.detourDistance / 1000) | round(2) }}km</td>
										<td>{{ (matching.filters.newDuration / 60) | round}} minutes</td>
									</tr>
								{% endfor %}							
							</table>
						{% else %}
							<span class="tag is-warning">Pas de conducteur trouvé.</span>
						{% endif %}
					</div>
					<div class="box">
						<h3 class="title">Passagers</h3>
						{% if proposal.matchingOffers and proposal.matchingOffers|length>0  %}
							<table class="table">
								<tr>
									<th>#</th>
									<th>Covoitureur</th>
									<th>Date de départ souhaitée</th>
									<th>Type</th>
									<th>Fréquence</th>
									<th>Origine</th>
									<th>Destination</th>
									<th>Distance</th>
									<th>Détour</th>
									<th>Durée</th>
								</tr>
								{% for matching in proposal.matchingOffers %}
									<tr>
										<td>{{ matching.proposalRequest.id }}</td>
										<td><a href="mailto:{{ matching.proposalRequest.user.email }}">{{ matching.proposalRequest.user.givenName|capitalize }} {{ matching.proposalRequest.user.familyName|first|upper }}</a></td>
										<td>
											{% if matching.proposalRequest.criteria.frequency == 1 %}
												{# punctual #}
												{{ matching.proposalRequest.criteria.fromDate|date('d/m/Y') }} à {{ matching.proposalRequest.criteria.fromTime|date('H:i') }}
											{% else %}
												{# regular #}
												{{ matching.proposalOffer.criteria.fromDate|date('d/m/Y') }} à 
												{% if matching.proposalOffer.criteria.fromDate|date('w') == 0 %}
													{{ matching.proposalRequest.criteria.sunTime|date('H:i') }}
												{% elseif matching.proposalOffer.criteria.fromDate|date('w') == 1 %}
													{{ matching.proposalRequest.criteria.sunTime|date('H:i') }}
												{% elseif matching.proposalOffer.criteria.fromDate|date('w') == 2 %}
													{{ matching.proposalRequest.criteria.sunTime|date('H:i') }}
												{% elseif matching.proposalOffer.criteria.fromDate|date('w') == 3 %}
													{{ matching.proposalRequest.criteria.sunTime|date('H:i') }}
												{% elseif matching.proposalOffer.criteria.fromDate|date('w') == 4 %}
													{{ matching.proposalRequest.criteria.sunTime|date('H:i') }}
												{% elseif matching.proposalOffer.criteria.fromDate|date('w') == 5 %}
													{{ matching.proposalRequest.criteria.sunTime|date('H:i') }}
												{% elseif matching.proposalOffer.criteria.fromDate|date('w') == 6 %}
													{{ matching.proposalRequest.criteria.sunTime|date('H:i') }}
												{% endif %}								
											{% endif %}
										</td>
										<td>{{ matching.proposalRequest.type == 1 ? "Aller simple" : "Aller-retour" }}</td>
										<td>{{ matching.proposalRequest.criteria.frequency == 1 ? "Ponctuel" : "Régulier" }}</td>
										<td>{{ matching.proposalRequest.waypoints[0].address.addressLocality }}</td>
										<td>{{ matching.proposalRequest.waypoints[1].address.addressLocality }}</td>
										<td>{{ (matching.filters.newDistance / 1000) | round(2) }}km</td>
										<td>{{ (matching.filters.detourDistance / 1000) | round(2) }}km</td>
										<td>{{ (matching.filters.newDuration / 60) | round}} minutes</td>
									</tr>
								{% endfor %}							
							</table>
						{% else %}
							<span class="tag is-warning">Pas de passager trouvé.</span>
						{% endif %}
					</div>
				{% endfor %}
			{% else %}
				<span class="tag is-warning">Pas de covoiturage trouvé.</span>
			{% endif %}
		</div>
		
	</div>
</section>

<section id="simpleResults">
  <Journey origin-latitude="{{origin_latitude}}" origin-longitude="{{origin_longitude}}" destination-latitude="{{destination_latitude}}" destination-longitude="{{destination_longitude}}"></Journey>
</section>

<section>
</section>


{% endblock %}
{% block javascripts %}
{{ encore_entry_script_tags('bundle_search/simpleResults') }}
{% endblock %}
