<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Liste Paiements et covoiturages</title>
		
		<style type="text/css">
			table{
				border-collapse: collapse
			  }

			  th{
				border: 1px solid black;
				padding: 10px;
			  }
			  
			  td{
				border: 1px solid black;
				padding: 10px;
			  }
			</style>
        	
	  </head>
  	<body>
        <div class="container container-pdf">
        
        	<div class="row">
        		<div><br /><img src="{{ absolute_url(asset('/images/logo.jpg')) }}" height="140" width="356" /></div>
        	</div>

			{# header #}
        	<div>
        		<div>
                    <h1 style="font-family:Roboto,sans-serif;text-align:center;">Covoiturage réalisé par 
						<br>{{ user.familyName }} {{ user.givenName }}
						<br>sur le site
						{{ app_name }}
						<br>
					</h1>
					<h2 style="font-family:Roboto,sans-serif;text-align:right;">{{ currentDate }}</h2>
        	</div>
        	
        	{# body #}
			<div>
				<p style="font-family:Roboto,sans-serif;text-align:right;">Mettre la somme totale payé et Mettre la somme totale reçu</p>

				{# {% if totalReceived > 300 %} #}
				<p style="font-family:Roboto,sans-serif;text-align:right;">Vous avez reçu plus de 300,00€ en 2020 : la loi vous impose de le déclarer aux impôts.</p>
				{# {% endif %} #}

				<h3>Année 2020</h3>

				<table style="font-family:Roboto,sans-serif; border: 1px solid black;padding: 10px;">

						{# thead #}
						<tr>
							<th>Date</th>
							<th>Rôle</th>
							<th>Covoitureur</th>
							<th>Prise en charge</th>
							<th>Dépose</th>
							<th>Contribution</th>
							<th>Paiement</th>
							<th>Certifié</th>
						</tr>
						{# tbody #}
						{% for carpool in carpools.archived %}
							<tr>
								{# Date #}
								<td>{{ carpool.outwardDate.date|date("m/d/Y") }}</td>
								{# Role #}
								{% if (carpool.role == 1 or carpool.role == 3) %}
									<td>Conducteur</td>
								{% else  %}
									<td>Passager</td>
								{% endif %}
								<td>{{ carpooler }}</td>

								{% for outwardWaypoint in carpool.outwardWaypoints %}
										<td>{{ outwardWaypoint.address.addressLocality }}</td>
								{% endfor %}

								{% if (carpool.role == 1 or carpool.role == 3) %}
									<td>{{ carpool.outwardDriverPrice }}€</td>
								{% else  %}
									<td>{{ carpool.outwardPassengerPrice }}</td>
								{% endif %}
								<td>Reçu à la main</td>
								<td>Classe A</td>
							</tr>
						{% endfor %}
				</table>
			</div>

    	</div>
	</body>
</html>