{% extends '@Mobicoop/base.html.twig' %}

{% block title %}{% trans from 'meta' %}meta.event.title{% endtrans %}{% endblock %}
{% block desc %}{% trans from 'meta' %}meta.event.description{% endtrans %}{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block main %}
    <br/><br/>
    <div class="layout justify-center"
         outlined
         tile>
        <div class="flex xs10">
            <event-list
                    :paths="{{ {'event_create':path('event_create')}|json_encode }}"
                    :map-provider="{{ mapProvider|json_encode }}"
                    :url-tiles="{{ urlTiles|json_encode }}"
                    :attribution-copyright="{{ attributionCopyright|json_encode }}"
                    :items-per-page-default="{{ defaultItemsPerPage }}"
                    :is-logged="{{ (app.user ? true : false)|json_encode }}"
                    tab-default="{{ tabDefault }}"
                    :event-button-display= "{{ eventButtonDisplay }}"
                    :can-select-community = "{{ canSelectCommunity  ? "true" : "false" }}"
            ></event-list>
            <br/><br/>
        </div>
    </div>

{% endblock %}
{% block javascripts %}

{% endblock %}
