{% extends '@Mobicoop/base.html.twig' %}

{% block title %}
  {{ metaDescription }}
{% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags("#{assets_prefix ?? ''}home") }}
{% endblock %}

{% block main %}
  <home-search 
    geo-search-url="{{ geoCompleteUri }}" 
    route="{{ searchRoute }}"
    :user={{app.user|json_encode()}}>
  </home-search>

  <section>
    <a class="lien" href="{{ path('community_list') }}">Liste des communautés</a>
  </section>
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags("#{assets_prefix ?? ''}home") }}
{% endblock %}
