<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title> Liste Paiements et covoiturages</title>
		
		<style type="text/css">
			table{
				border-collapse: collapse
			  }

			  th{
				border: 1px solid black;
				padding: 10px;
			  }
			  
			  td{
				border: 1px solid black;
				padding: 10px;
			  }
			</style>
			
	  </head>
  	<body>
        <div class="container container-pdf">
        
        	<div class="row">
                <img src="{{api_env('CARPOOL_EXPORT_BANNER_URL')}}" alt="" style="width:40%;max-width:1000px;height:auto;max-height:250px;border-style:none;" />
        	</div>

			{# header #}
        	<div>
        		<div>
                    <h1 style="font-family:Roboto,sans-serif;text-align:center;">Covoiturages réalisés par 
						<br>{{ dataToPdf.userName }}
						<br>"sur le site
						{{ dataToPdf.appName }}
						<br>
					</h1>
					<h2 style="font-family:Roboto,sans-serif;text-align:right;">{{ dataToPdf.date|format_datetime('full', 'none', locale=locale) }}</h2>
        	</div>
        	
        	{# body #}
			<div>
                {# sum paid #}
                {% if dataToPdf.paid %}
                    <p style="font-family:Roboto,sans-serif;text-align:right;">Total payé {{ dataToPdf.paid }} €</p>
                {% endif %}
                {# sum received #}
                {% if dataToPdf.received %}
				    <p style="font-family:Roboto,sans-serif;text-align:right;">Total reçu {{ dataToPdf.received }} €</p>
                {% endif %}
                {# tax info #}
				{% if dataToPdf.tax %}
				    <p style="font-family:Roboto,sans-serif;text-align:right;">Vous avez reçu plus de 300,00€ en 2020 : la loi vous impose de le déclarer aux impôts.</p>
				{% endif %}

	 			{% set refYear = null %}
			    {% set alreadyOpen = false %}
			    {% for carpoolExport in dataToPdf.carpoolExports %}
				
					{% if refYear != carpoolExport.date|date("Y") %}

						{#Not the first loop, we have to close the previous table#}
						{% if alreadyOpen == true %}
							</table>
						{% endif %}
					
						<table style="font-family:Roboto,sans-serif; border: 1px solid black;padding: 10px;">

						<h3>{{ carpoolExport.date|date("Y") }}</h3>
							{# thead #}
							<tr>
								<th>Date</th>
								<th>Rôle</th>
								<th>Covoitureur</th>
								<th>Prise en charge</th>
								<th>Dépose</th>
								<th>Contribution</th>
								{% if dataToPdf.paymentActive %}
								<th>Paiement</th>
								{% endif %}
								<th>Certifié registre (<a href='https://doc.covoiturage.beta.gouv.fr/territoires-beneficier-du-registre-de-preuve-de-covoiturage/classes-de-preuve-de-covoiturage' alt='voir les classes'>voir les classes</a>)</th>
							</tr>
							{# tbody #}

							{% set refYear = carpoolExport.date|date("Y") %}
							{% set alreadyOpen = true %}
					{% endif %}

						<tr>
							{# Date #}
							<td>{{ carpoolExport.date|date("d/m/Y") }}</td>
							{# Role #}
							{% if (carpoolExport.role == 1 or carpoolExport.role == 3) %}
								<td>Conducteur</td>
							{% else  %}
								<td>Passager</td>
							{% endif %}
							{# carpooler name #}
							<td>{{ carpoolExport.carpooler.givenName }} {{ carpoolExport.carpooler.shortFamilyName }}</td>
							{# pickup locality #}
							<td>{{ carpoolExport.pickUp.addressLocality }}</td>
							{# dropOff locality #}
							<td>{{ carpoolExport.dropOff.addressLocality }}</td>
							{# amount paid/received #}
							{% if carpoolExport.Amount %}
								<td>{{ carpoolExport.Amount }}€</td>
							{% else %}
								<td></td>		
							{% endif %}
							{# type of payment #}
							{% if dataToPdf.paymentActive %}
								{% if (carpoolExport.mode == 1) %}
									<td>Paiement en ligne</td>
								{% elseif (carpoolExport.mode == 2) %}
									<td>directPayment</td>  
								{% else %}
									<td>Paiement non déclaré</td>	       
								{% endif %}
							{% endif %}
							{# certification #}
							{% if (carpoolExport.certification) %}
								<td> {{ carpoolExport.certification }} </td>
							{% else %}
								<td></td>
							{% endif %}        
						</tr>
				{% endfor %}
			</table>


			</div>

    	</div>
	</body>
</html>