<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title> {{ "listCrapoolPayments"|trans }}</title>

		<style type="text/css">
			table{
				border-collapse: collapse
			  }

			  th{
				border: 1px solid black;
				padding: 10px;
			  }

			  td{
				border: 1px solid black;
				padding: 10px;
			  }
			</style>

	  </head>
  	<body>
        <div class="container container-pdf">

        	<div class="row">
                <img src="{{api_env('CARPOOL_EXPORT_BANNER_URL')}}" alt="" style="width:40%;max-width:1000px;height:auto;max-height:250px;border-style:none;" />
        	</div>

			{# header #}
        	<div>
        		<div>
                    <h1 style="font-family:Roboto,sans-serif;text-align:center;">{{ "carpoolRealizedBy"|trans }}
						<br>{{ dataToPdf.userName }}
						<br>{{ "onTheSite"|trans }}
						{{ dataToPdf.appName }}
						<br>
					</h1>
					<h2 style="font-family:Roboto,sans-serif;text-align:right;">{{ dataToPdf.date|format_datetime('full', 'none', locale=locale) }}</h2>
        	</div>

        	{# body #}
			<div>
                {# sum paid #}
                {% if dataToPdf.paid %}
                    <p style="font-family:Roboto,sans-serif;text-align:right;">{{ "totalPaid"|trans }} {{ dataToPdf.paid }} €</p>
                {% endif %}
                {# sum received #}
                {% if dataToPdf.received %}
				    <p style="font-family:Roboto,sans-serif;text-align:right;">{{ "totalReceived"|trans }} {{ dataToPdf.received }} €</p>
                {% endif %}
                {# tax info #}
				{% if dataToPdf.tax %}
				    <p style="font-family:Roboto,sans-serif;text-align:right;">{{ "taxInfo"|trans }}</p>
				{% endif %}

	 			{% set refYear = null %}
			    {% set alreadyOpen = false %}
                {% set nb = 1 %}
			    {% for carpoolExport in dataToPdf.carpoolExports %}

					{% if refYear != carpoolExport.date|date("Y") %}

						{#Not the first loop, we have to close the previous table#}
						{% if alreadyOpen == true %}
							</table>
                            {% set nb = 1 %}
						{% endif %}

						<table style="font-family:Roboto,sans-serif; border: 1px solid black;padding: 10px;">

						<h3>{{ carpoolExport.date|date("Y") }}</h3>
							{# thead #}
							<tr>
                                <th/>
								<th>{{ "date"|trans }}</th>
								<th>{{ "role"|trans }}</th>
								<th>{{ "carpooler"|trans }}</th>
								<th>{{ "pickUpLocality"|trans }}</th>
								<th>{{ "dropOffLocality"|trans }}</th>
                                <th>{{"distance"|trans}}</th>
								<th>{{ "amount"|trans }}</th>
								{% if dataToPdf.paymentActive %}
								<th>{{ "typeOfpayment"|trans }}</th>
								{% endif %}
								<th>{{ "certified"|trans }} (<a href="https://doc.covoiturage.beta.gouv.fr/le-registre-de-preuve-de-covoiturage/classes-de-preuve-and-identite">{{ "seeProofsClasses"|trans }}</a>)</th>							</tr>
							{# tbody #}

							{% set refYear = carpoolExport.date|date("Y") %}
							{% set alreadyOpen = true %}
					{% endif %}

						<tr>
                            <td>{{nb}}</td>
							{# Date #}
							<td>{{ carpoolExport.date|date("d/m/Y") }}</td>
							{# Role #}
							{% if (carpoolExport.role == 1 or carpoolExport.role == 3) %}
								<td>{{ "driver"|trans }}</td>
							{% else  %}
								<td>{{ "passenger"|trans }}</td>
							{% endif %}
							{# carpooler name #}
							{% if (carpoolExport.carpooler) %}
								<td>{{ carpoolExport.carpooler.givenName }} {{ carpoolExport.carpooler.shortFamilyName }}</td>
							{% else %}
								<td>{{ "deleted"|trans }}</td>
							{% endif %}
							{# pickup locality #}
							{% if (carpoolExport.pickUp) %}
								<td>{{ carpoolExport.pickUp.addressLocality }}</td>
							{% else %}
								<td>{{ "deleted"|trans }}</td>
							{% endif %}

							{# dropOff locality #}
							{% if (carpoolExport.dropOff) %}
								<td>{{ carpoolExport.dropOff.addressLocality }}</td>
							{% else %}
								<td>{{ "deleted"|trans }}</td>
							{% endif %}

                            {# distance #}
							{% if (carpoolExport.distance) %}
								<td>{{ carpoolExport.distance }}km</td>
							{% else %}
								<td>{{ "deleted"|trans }}</td>
							{% endif %}

							{# amount paid/received #}
							{% if carpoolExport.Amount %}
								<td>{{ carpoolExport.Amount }}€</td>
							{% else %}
								<td></td>
							{% endif %}
							{# type of payment #}
							{% if dataToPdf.paymentActive %}
								{% if (carpoolExport.mode == 1) %}
									<td>{{ "onLinePayment"|trans }}</td>
								{% elseif (carpoolExport.mode == 2) %}
									<td>{{ "directPayment"|trans }}</td>
								{% else %}
									<td>{{ "paymentNotDone"|trans }}</td>
								{% endif %}
							{% endif %}
							{# certification #}
							{% if (carpoolExport.certification) %}
								<td> {{ carpoolExport.certification }} </td>
							{% else %}
								<td></td>
							{% endif %}
						</tr>
                        {% set nb = nb + 1 %}
				{% endfor %}
			</table>
			</div>
    	</div>
	</body>
</html>
