{# CAREFUL : Some client might need to replicate this template #}
{% extends 'communicationAlt/fr/email/notification/base.html.twig' %}
{% block body %}
{% set ad = context.ad %}
{% set recipient = context.user %}
{% set sender = context.sender %}
{% set result = context.result %}
{% set outwardOrigin = context.outwardOrigin %}
{% set outwardDestination = context.outwardDestination %}
{% set returnOrigin = context.returnOrigin %}
{% set returnDestination = context.returnDestination %}

<table style="width:480px; font-family:{{api_env('EMAILS_FONT')}}, sans-serif;" cellpadding="0" cellspacing="0" summary="" border="0">
    <tr style="margin-bottom:21px; margin-top:19px;">
        <td>
            <table cellpadding="6" cellspacing="6" summary="" border="0">
                <tr> 
                    <td>
                        <p style="color:{{api_env('EMAILS_COLOR_PRIMARY')}}; font-size:20px; text-align:center;" ><b>Votre covoiturage et confirmé !</b></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    {# intro #}
    <tr>
        <td>
            <table style="width:100%;" cellpadding="4" cellspacing="4" summary="" border="0" >
                <tr>
                    <td style="width:100%" align="left">
                        <p style="font-size:11px; margin-bottom:16px;">Bonjour {{recipient.givenName|capitalize}} {{recipient.shortFamilyName|capitalize}},</p>
                        {% if ad.results[0].frequency == 1 %}
                            <p style="font-size:11px;">Votre covoiturage est confirmé. Voici le récapitulatif de votre covoiturage:</p>
                        {% else %}
                            <p style="font-size:11px;">Votre covoiturage est confirmé. Voici le récapitulatif de vos covoiturages:</p>
                        {% endif %}
                    </td>
                   
                </tr>
            </table>
        </td>
    </tr>
    {# info carpooler #}
    <tr>
        <td>
            <table cellpadding="4" cellspacing="4" summary="" border="0">
                <tr>
                    <td style="width:30%">
                        <img  style="border-radius:50px;" src="{{ api_env('EMAILS_PLATFORM_URL') }}{{sender.avatars[0]}}" alt="Avatar"/>
                    </td>
                    <td >
                        <table cellpadding="0" cellspacing="0" summary="" border="0">
                            <tr>
                            {# gérer si conducteur ou passager #}
                                <td align="left">
                                    <p style="font-size:11px;">Votre conducteur / conductrice:
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <p style="color:{{api_env('EMAILS_COLOR_SECONDARY')}}; font-size:11px;"> {{sender.givenName|capitalize}} {{sender.shortFamilyName|capitalize}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <p style="color:{{api_env('EMAILS_COLOR_SECONDARY')}}; font-size:11px;"> {{sender.telephone}}</p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    {# info trajet #}
{% if ad.results[0].frequency == 1 %}
    <tr>
        <td>
            <table cellpadding="4" cellspacing="4" summary="" border="0">
                <tr>
                    <td>
                         <p style="font-size:11px;">Date de votre covoiturage: <b style="color:{{api_env('EMAILS_COLOR_SECONDARY')}};">{{ ad.results[0].date|date("d/m/Y") }}</b></p>
                    </td>
                </tr>
                <tr>
                    <td>
                         <p style="font-size:11px;">Prix: <b style="color:{{api_env('EMAILS_COLOR_SECONDARY')}};">{{ad.results[0].roundedPrice}}€</b></p>
                    </td>
                </tr>
               
                <tr>
                    <td>
                        <table cellpadding="6" cellspacing="6" summary="" border="0">
                            <tr>
                                <td>
                                    <img
                                        src="{{api_env('EMAILS_PLATFORM_URL')}}{{api_env('EMAILS_IMAGES_BASE_URL')}}/bodyAlt/origin.png"
                                        style="border:0; height:19px; width:19px; background-color:transparent; vertical-align:top;"
                                    />
                                </td>
                                <td>
                                    <p style="font-size:11px;">{{outwardOrigin.time|date('H:i')}}</p>
                                </td>
                                <td>
                                    <p style="font-size:11px; color:{{api_env('EMAILS_COLOR_SECONDARY')}}"><b>{{ outwardOrigin.address.displayLabel[0] }}</b></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img
                                        src="{{api_env('EMAILS_PLATFORM_URL')}}{{api_env('EMAILS_IMAGES_BASE_URL')}}/bodyAlt/destination.png"
                                        style="border:0; height:19px; width:19px; background-color:transparent; vertical-align:top;"
                                    />
                                </td>
                                <td>
                                    <p style="font-size:11px;">{{outwardDestination.time|date('H:i')}}</p>
                                </td>
                                <td>
                                    <p style="font-size:11px;"><b style="color:{{api_env('EMAILS_COLOR_PRIMARY')}};"> {{ outwardDestination.address.displayLabel[0] }}</b></p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% else %}
{# faire le régulier #}
                            <p>lalalal</p>
{% endif %}
{#  #}
    <tr>
        <td>
            <table cellpadding="6" cellspacing="6" summary="" border="0">
                <tr>
                    <td style="width:10%">
                        <p> </p>
                    </td>
                    <td align="center" style="text-align:center; width:90%" >
                        <p style="font-size:11px;"><b style="color:{{api_env('EMAILS_COLOR_SECONDARY')}}; font-size:15px;" >Comment bien préparer votre covoiturage ?</b></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>  
    {# point 1 #}
    <tr>
        <td>
            <table cellpadding="4" cellspacing="4" summary="" border="0">
                <tr>
                    <td align="left" valign="top">
                        <img
                            src="{{api_env('EMAILS_PLATFORM_URL')}}{{api_env('EMAILS_IMAGES_BASE_URL')}}/bodyAlt/numbers/1.png"
                            style="border:0; height:24px; width:24px; background-color:transparent; vertical-align:top;"
                        />
                    </td>
                    <td align="center" >
                        <p style="font-size:11px; text-align: justify;"> Veillez à bien définir votre point de prise en charge et de dépose avec votre covoitureur au préalable. Vous pouvez vous <a href="{{api_env('EMAILS_PLATFORM_URL')}}/points-relais" style="color:{{api_env('EMAILS_COLOR_SECONDARY')}};">aider la carte des points relais.</a></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>  
{# point 2 #}
    <tr>
        <td>
            <table cellpadding="4" cellspacing="4" summary="" border="0">
                <tr>
                    <td align="left" valign="top" >
                        <img
                            src="{{api_env('EMAILS_PLATFORM_URL')}}{{api_env('EMAILS_IMAGES_BASE_URL')}}/bodyAlt/numbers/2.png"
                            style="border:0; height:24px; width:24px; background-color:transparent; vertical-align:top;"
                        />
                    </td>
                    <td align="center" >
                        <p style="font-size:11px; text-align: justify;"> Le paiement peut se faire de la main à la main le jour du covoiturage ou par carte bancaire depuis <a href="{{api_env('EMAILS_PLATFORM_URL')}}/utilisateur/profil/modifier/mes-covoiturages-acceptes" style="color:{{api_env('EMAILS_COLOR_SECONDARY')}}">Mes covoiturages acceptés</a> après le covoiturage. Mettez vous d’accord avec votre covoitureur sur la solution que vous préférez.  <a href="https://pro.mobicoop.fr/comment-regler-ses-covoiturages-sur-mobicoop/" style="color:{{api_env('EMAILS_COLOR_SECONDARY')}};">Suivre notre tutoriel.</a></p>
                    </td>
                </tr>
                 {#attention  #}
                <tr>
                    <td>
                        <p> </p>
                    </td>
                    <td>
                        <table cellpadding="1" cellspacing="1" summary="" border="0">
                            <tr>
                                <td align="right"  valign="top" >
                                    <img
                                        src="{{api_env('EMAILS_PLATFORM_URL')}}{{api_env('EMAILS_IMAGES_BASE_URL')}}/bodyAlt/warning.png"
                                        style="border:0; height:19px; width:22px; background-color:transparent; vertical-align:top;"
                                    />
                                </td>
                                <td align="left" vertical-align:"top" >
                                    <p style="font-size:11px; text-align: justify;"><b style="color:{{api_env('EMAILS_COLOR_SECONDARY')}};"> Attention, des personnes mal intentionnées peuvent vous demander d’autres moyens de paiement, notamment via des cartes prépayées (Transcash), refusez ces pratiques frauduleuses et signalez-nous cet utilisateur.</b></p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>   
            </table>
        </td>
    </tr>   
        {# point 3 #}
     <tr>
        <td>
            <table cellpadding="4" cellspacing="4" summary="" border="0">
                <tr>
                    <td align="left"  valign="top">
                        <img
                            src="{{api_env('EMAILS_PLATFORM_URL')}}{{api_env('EMAILS_IMAGES_BASE_URL')}}/bodyAlt/numbers/3.png"
                            style="border:0; height:24px; width:24px; background-color:transparent; vertical-align:top;"
                        />
                    <td align="left" >
                        <p style="font-size:11px; text-align: justify;">Si votre région ou département subventionne le covoiturage, il est alors primordial de certifier la prise en charge et la dépose le jour du covoiturage depuis votre application dans Mes covoiturages acceptés. Ceci active la géolocalisation et envoie une preuve de covoiturage à votre territoire. <a href="{{api_env('EMAILS_PLATFORM_URL')}}/FAQ" style="color:{{api_env('EMAILS_COLOR_SECONDARY')}};">Comprendre le système des subventions.</a></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>   
</table>
{% endblock %}
