{# CAREFUL : Some client might need to replicate this template #}
{% extends 'communicationAlt/fr/email/notification/base.html.twig' %}
{% block body %}
{% set recipient = context.user %}

<table style="width:480px; font-family:{{api_env('EMAILS_FONT')}}, sans-serif;" cellpadding="0" cellspacing="0" summary="" border="0">
    <tr style="margin-bottom:21px; margin-top:19px;">
        <td align="center">
            <table cellpadding="6" cellspacing="6" summary="" border="0">
                <tr>
                    <td align="center">
                        <p style="color:{{api_env('EMAILS_COLOR_PRIMARY')}}; font-size:20px;" text-align="center" ><b>Vous avez un nouveau message !</b></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="height:15px">
            <p> </p>
        </td>
    </tr>
    <tr>
        <td align="center">
            <table style="width:100%;" cellpadding="4" cellspacing="4" summary="" border="0" >
                <tr>
                    <td align="left">
                        <p style="font-size:11px; margin-bottom:16px;">Bonjour {{recipient.givenName|capitalize}} {{recipient.shortFamilyName|capitalize}},</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center">
            <table style="width:100%;" cellpadding="4" cellspacing="4" summary="" border="0" >
                <tr>
                    <td align="left">
                        <p style="font-size:11px; margin-bottom:16px;">Vous avez reçu un nouveau message !</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center">
            <table style="width:100%; border-style:solid; border-width:0.5px; border-color:grey; margin-bottom:16px;" cellpadding="6" cellspacing="6" summary="" border="0" >
                <tr>
                    <td style="width:5px">
                        <p> </p>
                    </td>
                    <td align="left">
                        <p style="font-size:11px; text-align:justify">{{ context.text | nl2br }}</p>
                    </td>
                    <td style="width:5px">
                        <p> </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table cellpadding="6" cellspacing="6" summary="" border="0">
                <tr>
                    <td style="width:23px">
                        <p> </p>
                    </td>
                    <td align="center" style="width:100%;">
                        <a href="{{api_env('EMAILS_PLATFORM_URL')}}/utilisateur/messages" style="color:{{api_env('EMAILS_COLOR_SECONDARY')}}">
                            <img
                            src="{{api_env('EMAILS_PLATFORM_URL')}}{{api_env('EMAILS_IMAGES_BASE_URL')}}/bodyAlt/buttons/mailBox.png"
                            style="border:0; height:26px; width:231; background-color:transparent; vertical-align:top;"
                        />
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <table cellpadding="6" cellspacing="6" summary="" border="0">
                <tr>
                    <td align="center" >
                        <p style="font-size:11px; text-align: justify;"> Ne répondez pas à cet e-mail directement, votre covoitureur ne recevra pas votre réponse. Si le message reçu est irrespectueux, inapproprié ou frauduleux, n’hésitez pas à nous <a href="{{api_env('EMAILS_PLATFORM_URL')}}/utilisateur/messages" style="color:{{api_env('EMAILS_COLOR_SECONDARY')}}">signaler l’utilisateur. </a></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>
{% endblock %}
