{# CAREFUL : Some client might need to replicate this template #}
{% extends 'communicationAlt/fr/email/notification/base.html.twig' %}
{% block body %}
<table style="width:480px; font-family:{{api_env('EMAILS_FONT')}}, sans-serif;" cellpadding="0" cellspacing="0" summary="" border="0">
    <tr style="margin-bottom:21px; margin-top:19px;">
        <td align="center">
            <table cellpadding="6" cellspacing="6" summary="" border="0">
                <tr>
                    <td align="center">
                        <p style="color:{{api_env('EMAILS_COLOR_PRIMARY')}}; font-size:20px;" text-align="center" ><b>Document d'identité non conforme.</b></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center">
            <table style="width:100%;" cellpadding="4" cellspacing="4" summary="" border="0" >
                <tr>
                    <td style="width:22px">
                        <p> </p>
                    </td>
                    <td align="left">
                        <p style="font-size:11px; text-align: justify;">Bonjour {{context.user.givenName}},</p>
                        <p style="font-size:11px; text-align: justify;">Vous souhaitez vous inscrire au service <strong>Rezo Pouce de {{api_env('EMAILS_PLATFORM_NAME')}}</strong>, et nous vous en remercions.</p>
                        <p style="font-size:11px; text-align: justify;">En validant votre inscription pour vous adresser votre carte membre, j'ai constaté que la pièce d'identité que vous nous avez transmise n'est pas valide (manquante, illisible ou floue)</p>
                        <p style="font-size:11px; text-align: justify;">Afin de finaliser votre inscription, je vous prie de bien vouloir me retourner par l'appli, par mail ou voie postale (Mobicoop - 9 boulevard Louis Sicre - 82100 CASTELSARRASIN) :</p>
                        <ul>
                            <li style="font-size:11px; text-align: justify;"><strong>La photocopie (ou photo) de votre pièce d'identité</strong></li>
                        </ul>
                        <p style="font-size:11px; text-align: justify;">{{api_env('EMAILS_PLATFORM_NAME')}} vous assure un réseau serein et convivial, pour cela, merci de bien vouloir me retourner ces éléments dans les meilleurs délais.</p>
                        <p style="font-size:11px; text-align: justify;">A réception, je vous ferai parvenir :</p>
                        <ul>
                            <li style="font-size:11px; text-align: justify;">Par mail : votre Rezo Kit</li>
                            <li style="font-size:11px; text-align: justify;">Par courrier postal : votre carte de membre</li>
                        </ul>
                        <p style="font-size:11px; text-align: justify;">Sans retour de votre part, je ne pourrais valider votre inscription à notre Rezo et serais dans l'obligation de supprimer votre profil de notre communauté.</p>
                        <p style="font-size:11px; text-align: justify;">Assurée de votre compréhension, Cordialement.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
     <tr>
        <td style="height:15px">
            <p> </p>
        </td>
    </tr>
</table>
{% endblock %}


