{# CAREFUL : Some client might need to replicate this template #}
{% extends 'communicationAlt/fr/email/notification/base.html.twig' %}
{% block body %}
	<table style="width:480px; font-family:{{api_env('EMAILS_FONT')}}, sans-serif;" cellpadding="0" cellspacing="0" summary="" border="0">
		<tr style="margin-bottom:21px; margin-top:19px;">
			<td align="center">
				<table cellpadding="6" cellspacing="6" summary="" border="0">
					<tr>
						<td align="center">
							<p style="color:{{api_env('EMAILS_COLOR_PRIMARY')}}; font-size:20px;" text-align="center">
								<b>Votre inscription est validée !</b>
							</p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td align="center">
				<table style="width:100%;" cellpadding="4" cellspacing="4" summary="" border="0">
					<tr>
						<td style="width:22px">
							<p></p>
						</td>
						<td align="left">
							<p style="font-size:11px; margin-bottom:16px;">Bonjour<b style="color:{{api_env('EMAILS_COLOR_PRIMARY')}}">
									{{context.user.givenName|capitalize}}
									{{context.user.shortFamilyName|capitalize}}</b>
							</p>
							<p style="font-size:11px; text-align:justify">Votre inscription au service
								<b style="color:{{api_env('EMAILS_COLOR_PRIMARY')}}">
									Rezo Mobicoop</b>
								est bien prise en compte.</p>
							<p style="font-size:11px;">Veuillez cliquer sur ce lien pour confirmer votre email  :
								<a style="color:{{api_env('EMAILS_COLOR_PRIMARY')}}; font-weight: bold;" href="{{ api_env('EMAILS_PLATFORM_URL') }}/utilisateur/inscription/validation/{{ context.user.email }}/{{ context.user.emailToken }}" title="">lien</a>.</p>
							<pstyle="font-size:11px;text-align:justify">Ou utilisez le code de validation directement sur le site :
								{{ context.user.emailToken }}</p>
							{% if context.user.passwordSendType == 2 %}
								<p style="font-size:11px; text-align:justify">Votre mot de passe est :
									{{ context.user.clearPassword }}</p>
							{% elseif context.user.passwordSendType == 1 %}
								<p style="font-size:11px; text-align:justify">Votre mot de passe vous a été envoyé par SMS.</p>
							{% endif %}
							<p style="font-size:11px; text-align:justify">Lors de votre première connexion, après avoir cliqué sur le lien de vérification ci-dessus, vous aurez la possibilité de modifier votre mot de passe en allant sur votre profil. Dans la mesure où vous auriez oublié ce mot de passe, vous pourrez toujours le récupérer depuis l'écran "Connexion", en cliquant sur le lien "Mot de passe oublié".</p>
							<p style="font-size:11px; text-align:justify">Pour consulter les Conditions Générales d'Utilisation de
								<b style="color:{{api_env('EMAILS_COLOR_PRIMARY')}}">
									{{api_env('EMAILS_PLATFORM_NAME')}}</b>, cliquez
								<a style="color:{{api_env('EMAILS_COLOR_PRIMARY')}}; font-weight: bold;" href="{{ api_env('EMAILS_PLATFORM_URL') }}/cgu">ici</a>. Si vous refusez ces conditions, vous pouvez supprimer votre compte depuis votre profil.</p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td style="height:15px">
				<p></p>
			</td>
		</tr>
		<tr>
			<td>
				<table cellpadding="2" cellspacing="2" summary="" border="0">
					<tr>
						<td style="width:23px">
							<p></p>
						</td>
						<td align="center" style="width:100%;">
							<p style="font-size:11px;">
								<b style="color:{{api_env('EMAILS_COLOR_SECONDARY')}}">À bientôt sur Rezo Mobicoop</b>
							</p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td style="height:15px">
				<p></p>
			</td>
		</tr>
	</table>
{% endblock %}
