{% extends '/email/notification/linked_ad_deleted.html.twig' %}
{% block body %}
    <p>{{ "yourAskCarpoolBetween"|trans }} {{ context.origin.address.addressLocality }} {{ "and"|trans }} {{ context.destination.address.addressLocality }} {{ "with"|trans }} {{ deleterGivenName|capitalize ~ " " ~ deleterFamilyName|capitalize }} {{ "isCanceledBecause"|trans }} {{ deleterGivenName|capitalize ~ " " ~ deleterFamilyName|capitalize}} {{ "hasDeletedTheAssociateAd"|trans }}</p>

    <p>{{ "noPenaltyApplied"|trans }} </p>
{% endblock %}