{% extends '/email/notification/base.html.twig' %}
{% block body %}
<p>@PrenomOuPseudoPassager {{ "notBeAbleToCarpoolWithYou"|trans }} @AdresseDepose {{ "followingDays"|trans }} : @Jours {{ "from"|trans }} @DateDebut {{ "to"|trans }} @DateFin.</p>
{# Driver/ Passenger occasionnal #}
<p>@PrenomOuPseudoPassager {{ "notBeAbleToCarpoolWithYouFor"|trans }} @DateVoyage {{ "towards"|trans }} @AdresseDepose.</p>
{# #}
<p>{{ "hisMessage"|trans}} : @Commentaires.</p>