{% extends '/email/notification/base.html.twig' %}
{% block body %}

{% set ask = context.ask %}
{% set recipient = context.user %}

<p>{{ "summaryCarpool"|trans }}.</p>
<br></br>
{# Ask user is driver #}
{% if ask.matching.proposalOffer.user.id == recipient.id %}
        {% set passenger = ask.userRelated %}

        <p>{{ "yourPassengerIs"|trans }} {{ passenger.givenName|capitalize ~ " " ~ passenger.familyName|capitalize  }} {{"and"|trans}} {{ "hisPhoneNumber"|trans }} {{ "isThe"|trans}} {{ passenger.telephone }}.</p>
        <br></br>
        {% if ask.criteria.frequency == 1 %}
                <p>{{ "occasionnalCarpool"|trans }} {{"the"|trans}} {{ ask.criteria.fromDate|date("d/m/Y") }}</p>
        {% else %}
                <p>{{ "regularCarpool"|trans }} {{ "from"|trans }} {{ ask.criteria.fromDate|date("d/m/Y") }} {{ "to"|trans }} {{ ask.criteria.toDate|date("d/m/Y") }}.</p>
                <p>{{ "concernedDays"|trans }} {% if ask.criteria.monCheck %}{{ "monday" |trans}} {% endif %}
                {% if ask.criteria.tueCheck %}{{ "tuesday" |trans}} {% endif %}
                {% if ask.criteria.wedCheck %}{{ "wednesday" |trans}} {% endif %}
                {% if ask.criteria.thuCheck %}{{ "thusday" |trans}} {% endif %}
                {% if ask.criteria.friCheck %}{{ "friday" |trans}} {% endif %}
                {% if ask.criteria.satCheck %}{{ "saturday" |trans}} {% endif %}
                {% if ask.criteria.sunCheck %}{{ "sunday" |trans}}{% endif %}.</p>
        {% endif %}        
        <p>{{ "supported"|trans }}:  {{ context.origin.address.addressLocality }}.</p>
        <p>{{ "depositedAt"|trans }}: {{ context.destination.address.addressLocality }}.</p> 
        <br></br>
        {% if ask.matching.proposalRequest.comment %}
        <p>{{ "passengerComment"|trans }} {{ ask.matching.proposalRequest.comment }}</p>
        {% endif %}
        <p>{{ "reservedPlaces"|trans }}: {{ ask. criteria.seatsPassenger }}.</p>
        <p>{{ "indicativePrice"|trans }}: {{ ask.criteria.passengerComputedRoundedPrice }} {{ "currency"|trans}}.</p>
        {# Ask user is passenger #}
 {% else %}
        {% set driver = ask.userRelated %}
        <p>{{ "yourDriverIs"|trans }} {{ driver.givenName|capitalize ~ " " ~ driver.familyName|capitalize  }} {{"and"|trans}} {{ "hisPhoneNumber"|trans }} {{ "isThe"|trans}} {{ driver.telephone }}.</p>
        <br></br>
        {% if ask.criteria.frequency == 1 %}
                <p>{{ "occasionnalCarpool"|trans }} {{ "the"|trans }} {{ ask.criteria.fromDate|date("d/m/Y") }}</p>
        {% else %}
                <p>{{ "regularCarpool"|trans }} {{ "from"|trans }} {{ ask.criteria.fromDate|date("d/m/Y") }} {{ "to"|trans }} {{ ask.criteria.toDate|date("d/m/Y") }}.</p>
                <p>{{ "concernedDays"|trans }} {% if ask.criteria.monCheck %}{{ "monday" |trans}}{% endif %}
                {% if ask.criteria.tueCheck %}{{ "tuesday" |trans}} {% endif %}
                {% if ask.criteria.wedCheck %}{{ "wednesday" |trans}} {% endif %}
                {% if ask.criteria.thuCheck %}{{ "thusday" |trans}} {% endif %}
                {% if ask.criteria.friCheck %}{{ "friday" |trans}} {% endif %}
                {% if ask.criteria.satCheck %}{{ "saturday" |trans}} {% endif %}
                {% if ask.criteria.sunCheck %}{{ "sunday" |trans}}{% endif %}. </p> 
        {% endif %}        
        <p>{{ "supported"|trans }}  {{ context.origin.address.addressLocality }}.</p>
        <p>{{ "depositedAt"|trans }} {{ context.destination.address.addressLocality }}.</p> 
        <br></br>
        {% if ask.matching.proposalOffer.comment %}
        <p>{{ "passengerComment"|trans}} {{ ask.matching.proposalOffer.comment }}</p>
        {% endif %}
        <p>{{ "indicativePrice"|trans}}  {{ ask.criteria.passengerComputedRoundedPrice }} {{ "currency"|trans}}.</p> 
{% endif %}  
{% endblock %}    