{% extends '/email/notification/base.html.twig' %}
{% block body %}
        {# <p>{{ "summaryCarpools"|trans }}.</p>
        <p>{{ "phoneNumber"|trans }} @PrenomOuPseudoPassager  {{ "isThe"|trans}} @PortablePassager
        @PrenomOuPseudoPassager  @SexePassager  @AgePassager   @PortablePassager.</p>
{% if passager regulier %}
        <p>{{ "phoneNumber"|trans }} @PrenomOuPseudoConducteur {{ "isThe"|trans}} @PortableConducteur
        @PrenomOuPseudoConducteur @SexeConducteur @AgeConducteur  @PortableConducteur .</p>
        <p>{{ "carpoolDistance"|trans}} @DistanceConducteur km. </p>
{% endif %}
        <p>{{ "occassionalCarpoolDistance"|trans}} @DistancePassager km.</p>
        <p>{{ "driverDetour"|trans}}  @TempsDetourMinutes  /  @DistanceDetour  km.</p>
        <p>{{ "supported"|trans }} @AdressePEC.</p>
{% if passager regulier %}
        <p>{{ "depositedAt"|trans }} @AdresseDepose.</p>
        <p>{{ "appointmentHour" |trans}} {{ "monday" |trans}}  {{ "tuesday" |trans}}  {{ "wednesday" |trans}}  {{ "thusday" |trans}}  {{ "friday" |trans}}  {{ "saturday" |trans}}  {{ "sunday" |trans}}.</p>
        <p>{{ "the" |trans}}  @DateDebut  {{ "from" |trans}}  @DateDebut  {{ "to" |trans}} @DateFin.</p>
        <p>{{ "driverComment"|trans}} : @CommentairesDemande.</p>
        <p>{{ "reservedPlaces"|trans}} @NbPassagers.</p>
        <p>{{ "indicativePrice"|trans}}  @GainConducteur @Monnaie.</p>
{% elseif driver regulier %}
        <p>{{ "appointmentHour" |trans}} {{ "monday" |trans}}  {{ "tuesday" |trans}}  {{ "wednesday" |trans}}  {{ "thusday" |trans}}  {{ "friday" |trans}}  {{ "saturday" |trans}}  {{ "sunday" |trans}}.</p>
        <p>{{ "the" |trans}}  @DateDebut  {{ "from" |trans}}  @DateDebut  {{ "to" |trans}} @DateFin.</p>
{% elseif  driver occasional %}
    <p>{{ "the"|trans}}  @DateDebut  {{ "at"|trans}}  @DateDebut.</p>
{% endif %}
    <p>{{ "depositedAt"|trans }} @AdresseDepose.</p>
    <p>{{ "passengerComment"|trans}} :  @CommentairesDemande.</p>
{% if passager occasionnel %}
       <p>{{ "driverComment"|trans}}  @CommentairesDemande.</p>
{% endif %}
    <p>{{ "reservedPlaces"|trans}} @NbPassagers.</p>
    <p>{{ "indicativePrice"|trans}}  @GainConducteur @Monnaie.</p> #}
<p> Un utilisateur vient d'accepter votre proposition de covoiturage, retrouvez tous les détails dans votre messagerie. <a href="{{ api_env('EMAILS_PLATFORM_URL') }}">"{{ "myAds"|trans }}"</a></p>
{% endblock %}