{% extends '/email/notification/linked_ad_deleted.html.twig' %}
{% block body %}
    <p>
        Votre demande pour un {{ (matching.waypoints|first).address.county }} => {{ (matching.waypoints|last).address.county }} avec {{ carpooler }} a
        été
        rejetée, car {{ carpooler }} a supprimé son annonce.
        Cliquez sur ce lien pour relancer votre recherche {{ (matching.waypoints|first).address.county }} => {{ (matching.waypoints|last).address.county }}.
    </p>
{% endblock %}