{% extends '/email/notification/base.html.twig' %}
{% block body %}
    <p>{{ "hello"|trans }}<b style="color:{{api_env('EMAILS_COLOR_PRIMARY')}}"> {{context.contact.givenName|capitalize}} {{context.contact.familyName|capitalize}}</b>.</p>
    <p>
        {{ "newContactAsk"|trans }}.
    </p>

    <ul>
        <li>{{ "name"|trans }} : {{ context.contact.familyName ? context.contact.familyName : "notMentioned"|trans }}</li>
        <li>{{ "firstname"|trans }} : {{ context.contact.givenName ? context.contact.givenName : "notMentioned"|trans }}</li>
        <li>{{ "email"|trans }} : {{ context.contact.email }}</li>
        <li>{{ "ask"|trans }} : {{ context.contact.demand ? context.contact.demand|trans : "notMentioned"|trans }}</li>
    </ul>
    <p>{{ context.contact.message|nl2br }}</p>
    <p>{{"signature"|trans}} <a style="color:{{api_env('EMAILS_COLOR_PRIMARY')}}" href="{{api_env('EMAILS_PLATFORM_URL')}}">{{api_env('EMAILS_PLATFORM_NAME')}}</a>
{% endblock %}