{% extends '/email/notification/linked_ad_deleted.html.twig' %}
{% block body %}
    <p>{{ "yourCarpoolBetween"|trans }} {{ (ask.matching.waypoints|first).address.addressLocality }} {{ "and"|trans }} {{ (ask.matching.waypoints|last).address.addressLocality }} {{ "withThePassenger"|trans }} {{ deleterGivenName|capitalize ~ " " ~ deleterFamilyName|capitalize }} {{ "isCanceledBecause"|trans }} {{ deleterGivenName|capitalize ~ " " ~ deleterFamilyName|capitalize}} {{ "hasDeletedTheAssociateAd"|trans }}</p>
    <p>{{ "clickOnLinkToSearchAgain"|trans }} {{ (ask.matching.waypoints|first).address.addressLocality }} {{ "and"|trans }} {{ (ask.matching.waypoints|last).address.addressLocality }}. </p>
    <p>{{ "noPenaltyApplied"|trans }}</p>
{% endblock %}