{% extends '/email/notification/base.html.twig' %}
{% block body %}
<p>@PrenomOuPseudoPassager {{ notBeAbleToCarpoolWithYou |trans }} @AdresseDepose {{ followingDays |trans }} :
 @Jours {{ from |trans }}  @DateDebut {{ to |trans }} @DateFin</p>
<p>{{ hisMessage |trans}} :
@Commentaires</p>
{% endblock %}