{% extends '/email/notification/base.html.twig' %}
{% block body %}
    <p>{{ "summaryCarpools"|trans }}.</p>
    <p>{{ "phoneNumber"|trans }} @PrenomOuPseudoPassager {{ "isThe"|trans}} @PortablePassager
    @PrenomOuPseudoPassager  @SexePassager  @AgePassager   @PortablePassager.</p>
    <p>{{ "ocassionalCarpoolDistance"|trans}} @DistancePassager km.</p>
    <p>{{ "driverDetour"|trans}}  @TempsDetourMinutes  /  @DistanceDetour  km.</p>
    <p>{{ "supported"|trans }} @AdressePEC.</p>
    <p>{{ "the"|trans}}  @DateDebut  {{ "at"|trans}}  @DateDebut.</p>
    <p>{{ "depositedAt"|trans }} @AdresseDepose.</p>
    <p>{{ "passengerComment"|trans}} :  @CommentairesDemande.</p>
    <p>{{ "reservedPlaces"|trans}} @NbPassagers.</p>
    <p>{{ "indicativePrice"|trans}}  @GainConducteur @Monnaie.</p>
{% endblock %}