{% extends '/email/notification/base.html.twig' %}
{% block body %}
    <p>@PrenomOuPseudoExpediteur {{ "yourAsk" |trans }}.</p>

    <p>{{ "replyViaEMail" |trans }} {{ api_env('EMAILS_PLATFORM_NAME') }} {{ clickHere |trans}} @URLdelapagedemessageriecorrespondante.</p>

    <p>{{ "carpoolDistance"|trans}} @DistancePassager km.</p>
    <p>{{ "driverDetour" |trans}}  @TempsDetourMinutes  /  @DistanceDetour  km.</p>
    <p>{{ "supported" |trans }} @AdressePEC.</p>
    <p>{{ "depositedAt" |trans }} @AdresseDepose.</p>
    <p>{{ "appointmentHour" |trans}} {{ "monday" |trans}} {{ "tuesday" |trans}} {{ "wednesday" |trans}} {{ "thusday" |trans}} {{ "friday" |trans}} {{ "saturday" |trans}} {{ "sunday" |trans}}.</p>
    <p>{{ "the" |trans}}  @DateDebut  {{ "from" |trans}}  @DateDebut  {{ "to" |trans}}  @DateFin.</p>
    <p>{{ "passengerComment" |trans}} :  @CommentairesDemande.</p>
    <p>{{ "reservedPlaces" |trans}} @NbPassagers.</p>
    <p>{{ "indicativePrice" |trans}}  @GainConducteur @Monnaie.</p>
{% endblock %}