{% extends '/email/notification/linked_ad_deleted.html.twig' %}
{% block body %}
    <p>{{ "yourCarpoolBetween"|trans }} {{ context.origin.address.addressLocality }} {{ "and"|trans }} {{ context.destination.address.addressLocality }} {{ "withTheDriver"|trans }} {{ deleterGivenName|capitalize ~ " " ~ deleterFamilyName|capitalize }} {{ "isCanceledBecause"|trans }} {{ deleterGivenName|capitalize ~ " " ~ deleterFamilyName|capitalize}} {{ "hasDeletedTheAssociateAd"|trans }}</p>
    <p>{{ "clickOnLinkToSearchAgain"|trans }} {{ context.origin.address.addressLocality }} {{ "and"|trans }} {{ context.destination.address.addressLocality }}. </p>
    <p>{{ "noPenaltyApplied"|trans }}</p>
{% endblock %}