{% extends '/email/notification/base.html.twig' %}
{% block body %}
    <p>{{ "yourInscriptionAt" |trans }}  {{api_env('EMAILS_PLATFORM_NAME')}}  {{ "wellTakenIntoAccount" |trans }}.</p>
    <p>{{ "clickHereToConfirm" |trans}} : <a href="{{ api_env('EMAILS_PLATFORM_URL') }}{{  "urlEmailValidation" |trans }}{{ context.user.email }}/{{ context.user.validatedDateToken }}" title="">{{ api_env('EMAILS_PLATFORM_URL') }}{{ "urlEmailValidation" |trans }}{{ context.user.email }}/{{ context.user.validatedDateToken }}</a>.</p>
    <p>{{"orUseTheValidationCode" |trans }} : {{ context.user.validatedDateToken }}</p>
    {% if context.user.passwordSendType == 2 %}
    <p>{{"yourPasswordIs" |trans }} : {{ context.user.clearPassword }}</p>
    {% elseif context.user.passwordSendType == 1 %}
    <p>{{"yourPasswordHasBeenSendBySms" |trans }}</p>
    {% endif %}
{% endblock %}