{% extends '/email/notification/base.html.twig' %}
{% block body %}
    <p>{{ "askNewPassword"|trans }}.</p>
    <p>{{ "clickHereToChangePassword"|trans }} <a href="{{ api_env('EMAILS_PLATFORM_URL') }}{{  "urlUpdatePassword"|trans }}{{ context.user.validatedDateToken }}" title="">{{ "linkChangePassword"|trans }}.</a></p>
    <p>{{ "thankYou"|trans }} {{api_env('EMAILS_PLATFORM_NAME')}} !</p>
{% endblock %}