{% extends '/email/notification/base.html.twig' %}
{% block body %}
    {# templates/emails/registration.html.twig #}

    <p>{{ "Vous avez demandé un nouveau mot de passe."|trans }}</p>
    <p>{{ "Veuillez cliquer sur ce lien pour changer votre mot de passe :"|trans }} <a href="{{ api_env('EMAILS_PLATFORM_URL') }}{{ 'urlUpdatePassword'|trans }}{{ context.user.validatedDateToken }}" title="">{{ "Lien de changement de mot de passe"|trans }}</a></p>
    <p>{{ "Merci!"|trans }}</p>
{% endblock %}