{% extends '@Mobicoop/base.html.twig' %}

{% block title %}
  {% trans from 'ui' %}user.messages.title{% endtrans %}
{% endblock %}
{% block stylesheets %}
  {{ encore_entry_link_tags("#{assets_prefix ?? ''}user/messages") }}
{% endblock %}

{% block main %}

<section class="hero is-primary">
	<div class="hero-body">
    	<div class="container">
      		<h1 class="title">
				{% trans from 'ui' %}user.messages.h1{% endtrans %}
      		</h1>
    	</div>
  	</div>
</section>

<section class="section">
	<div class="container">
		<div id="messages">
    		<Messages 
				:threadsdirectmessagesforview="{{ threadsDirectMessagesForView|json_encode }}"
				:threadscarpoolingmessagesforview="{{ threadsCarpoolingMessagesForView|json_encode }}"
				userid="{{ userId }}"
				idmessagedefault="{{ idMessageDefault }}"
				idrecipientdefault="{{ idRecipientDefault }}"
				firstnamerecipientdefault="{{ firstNameRecipientDefault }}"
				lastNameRecipientDefault="{{ lastNameRecipientDefault }}"
				:user="{{app.user|json_encode}}"
			></Messages>
		</div>
    </div>
  </section>
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags("#{assets_prefix ?? ''}user/messages") }}
{% endblock %}
