{% extends '@Mobicoop/base.html.twig' %}

{% block title %}
  {% trans from 'ui' %}user.profile.title{% endtrans %}
{% endblock %}
{% block stylesheets %}
  {{ encore_entry_link_tags("#{assets_prefix ?? ''}user/profile") }}
{% endblock %}

{% block main %}

<section class="hero is-primary">
	<div class="hero-body">
    	<div class="container">
      		<h1 class="title">
				{% trans from 'ui' %}user.profile.h1{% endtrans %}
      		</h1>
    	</div>
  	</div>
</section>
<section class="section">
	<div class="container">
		<div id="profile">
    		<Profile :user="{{app.user|json_encode}}"
			geo-search-url="{{ geoCompleteUri }}"
 			age-min="{{ ageMin }}"
            age-max="{{ ageMax }}"
			></Profile>
		</div> 
    </div>
  </section>
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags("#{assets_prefix ?? ''}user/profile") }}
{% endblock %}
