{% extends '@Mobicoop/base.html.twig' %}

{% block title %}{% trans from 'ui' %}user.profile_update.title{% endtrans %}{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('bundle_user/updateProfile') }}
{% endblock %}
{% block body %}

<section class="hero is-primary">
	<div class="hero-body">
    	<div class="container">
      		<h1 class="title">
				{% trans from 'ui' %}user.profile_update.h1{% endtrans %}
      		</h1>
    	</div>
  	</div>
</section>

<section class="section">
	<div class="container">
	    {% if user %}
			{% for address in user.addresses %}
				{% if address.name == 'homeAddress' %}
    		<section id='update'>
<div class="container">
<Updateprofile geo-search-url="/geosearch?search=" given-name="{{user.givenName}}" family-name="{{user.familyName}}" telephone="{{user.telephone}}" email="{{user.email}}" gender="{{user.gender}}" birth-year="{{user.birthYear}}" street="{{address.street}}" street-address="{{address.streetAddress}}" postal-code="{{address.postalCode}}" sub-locality="{{address.subLocality}}" address-locality="{{address.addressLocality}}" local-admin="{{address.localAdmin}}" county="{{address.county}}" macro-county="{{address.macroCounty}}" region="{{address.region}}" macro-region="{{address.macroRegion}}" address-country="{{address.addressCountry}}" country-code="{{address.countryCode}}" latitude="{{address.latitude}}" longitude="{{address.longitude}}" ></Updateprofile>
</div>
</section>		
				{% endif %}
			{% endfor %}	
    	{% else %}
      		<span class="tag is-danger">User not found.</span>
      	{% endif %}
    </div>
</section>

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('bundle_user/updateProfile') }}
{% endblock %}
