{# CAREFUL : Some client might need to replicate this template #}
{% extends 'communicationAlt/fr/email/notification/base.html.twig' %}
{% block body %}
{% set recipient = context.user %}
{% set sender = context.sender %}
{% set sendingDate = context.sendingDate %}

<table style="width:480px; font-family:{{api_env('EMAILS_FONT')}}, sans-serif;" cellpadding="0" cellspacing="0" summary="" border="0">
    <tr style="margin-bottom:21px; margin-top:19px;">
        <td align="center">
            <table cellpadding="6" cellspacing="6" summary="" border="0">
                <tr>
                    <td align="center">
                        <p style="color:{{api_env('EMAILS_COLOR_PRIMARY')}}; font-size:20px;" text-align="center" ><b>You've got a new message !</b></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="height:15px">
            <p> </p>
        </td>
    </tr>
    <tr>
        <td align="center">
            <table style="width:100%;" cellpadding="4" cellspacing="4" summary="" border="0" >
                <tr>
                    <td align="left">
                        <p style="font-size:11px; margin-bottom:16px;">Hello {{recipient.givenName|capitalize}} {{recipient.shortFamilyName|capitalize}},</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center">
            <table style="width:100%;" cellpadding="4" cellspacing="4" summary="" border="0" >
                <tr>
                    <td align="left">
                        <p style="font-size:11px; margin-bottom:16px;">{{sender.givenName|capitalize}} {{sender.shortFamilyName|capitalize}} contacted you on {{ sendingDate|date("d/m/Y") }}. To date, you haven't replied to his message. Please do it as soon as possible. {{sender.givenName|capitalize}} {{sender.shortFamilyName|capitalize}} awaits your reply to organize future carpooling trips.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <table cellpadding="6" cellspacing="6" summary="" border="0">
                <tr>
                    <td style="width:23px">
                        <p> </p>
                    </td>
                    <td align="center" style="width:100%;">
                        <a href="{{api_env('EMAILS_PLATFORM_URL')}}/utilisateur/messages{{ context.link is defined ? context.link : '' }}" style="color:{{api_env('EMAILS_COLOR_SECONDARY')}}">
                            <img
                            src="{{api_env('EMAILS_PLATFORM_URL')}}{{api_env('EMAILS_IMAGES_BASE_URL')}}/bodyAlt/buttons/mailBox.png"
                            style="border:0; height:26px; width:231; background-color:transparent; vertical-align:top;"
                        />
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td>
            <table cellpadding="6" cellspacing="6" summary="" border="0">
                <tr>
                    <td align="center" >
                        <p style="font-size:11px; text-align: justify;"> To make the community work, it's important to reply to the messages you receive. If your trip is no longer up-to-date, you can delete it or pause it from the page <a href="{{api_env('EMAILS_PLATFORM_URL')}}/utilisateur/profil/modifier/mes-annonces" style="color:{{api_env('EMAILS_COLOR_SECONDARY')}}">My ads.</a> After several reports from users, Mobicoop reserves the right to suspend an account considered inactive.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>
{% endblock %}
