{# CAREFUL : Some client might need to replicate this template #}
{% extends 'communicationAlt/fr/email/notification/base.html.twig' %}
{% block body %}
<table style="width:480px; font-family:{{api_env('EMAILS_FONT')}}, sans-serif;" cellpadding="0" cellspacing="0" summary="" border="0">
    <tr style="margin-bottom:21px; margin-top:19px;">
        <td align="center">
            <table cellpadding="6" cellspacing="6" summary="" border="0">
                <tr>
                    <td align="center">
                        <p style="color:{{api_env('EMAILS_COLOR_PRIMARY')}}; font-size:20px;" text-align="center" ><b>Nouvelle demande de contact</b></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="height:15px">
            <p> </p>
        </td>
    </tr>
    <tr>
        <td align="center">
            <table style="width:100%;" cellpadding="2" cellspacing="2" summary="" border="0" >
                <tr>
                    <td align="left">
                        <p style="font-size:11px; margin-bottom:16px;">Bonjour vous avez une nouvelle demande de contact.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center">
            <table style="width:100%;" cellpadding="2" cellspacing="2" summary="" border="0" >
                <tr>
                    <td align="left">
                       <ul>
                            <li style="font-size:11px;">Nom : {{ context.contact.familyName ? context.contact.familyName : "Non renseigné" }}</li>
                            <li style="font-size:11px;">Prénom : {{ context.contact.givenName ? context.contact.givenName : "Non renseigné" }}</li>
                            <li style="font-size:11px;">Email : {{ context.contact.email }}</li>
                            <li style="font-size:11px;">Demande : {{ context.contact.demand ? context.contact.demand : "Non renseigné" }}</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center">
            <table style="width:100%; border-style:solid; border-width:0.5px; border-color:grey; margin-bottom:16px;" cellpadding="6" cellspacing="6" summary="" border="0" >
                <tr>
                    <td style="width:5px">
                        <p> </p>
                    </td>
                    <td align="left">
                        <p style="font-size:11px; text-align:justify">{{ context.contact.message | nl2br }}</p>
                    </td>
                    <td style="width:5px">
                        <p> </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center">
            <table style="width:100%;" cellpadding="2" cellspacing="2" summary="" border="0" >
                <tr>
                    <td align="left">
                        <p style="font-size:11px; margin-bottom:16px; text-align: justify;">"A bientôt sur <a style="color:{{api_env('EMAILS_COLOR_SECONDARY')}}" href="{{api_env('EMAILS_PLATFORM_URL')}}">Rezo Mobicoop</a></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="height:15px">
            <p> </p>
        </td>
    </tr>
</table>
{% endblock %}



