{# CAREFUL : Some client might need to replicate this template #}
{% extends 'communicationAlt/fr/email/notification/base.html.twig' %}
{% block body %}

<table style="width:480px; font-family:{{api_env('EMAILS_FONT')}}, sans-serif;" cellpadding="0" cellspacing="0" summary="" border="0">
    <tr style="margin-bottom:21px; margin-top:19px;">
        <td align="center">
            <table cellpadding="6" cellspacing="6" summary="" border="0">
                <tr>
                    <td align="center">
                        <p style="color:{{api_env('EMAILS_COLOR_PRIMARY')}}; font-size:20px;" text-align="center" ><b>You don't have any more carpool ads !</b></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center">
            <table style="width:100%;" cellpadding="2" cellspacing="2" summary="" border="0" >
                <tr>
                    <td style="width:23px">
                        <p> </p>
                    </td>
                    <td align="left">
                        <p style="font-size:11px; margin-bottom:16px;">Hello {{context.user.givenName|capitalize}} {{context.user.shortFamilyName|capitalize}},</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    {# part 1 #}
    <tr>
        <td align="center">
            <table style="width:100%;" cellpadding="2" cellspacing="2" summary="" border="0" >
                <tr>
                    <td style="width:23px">
                        <p> </p>
                    </td>
                    <td align="left">
                        <p style="font-size:11px; text-align: justify;">Since two weeks, you have no more carpool ads on Mobicoop.fr. As a reminder, our interface offers a mobility solution for every need :</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table cellpadding="4" cellspacing="4" summary="" border="0">
                <tr>
                    <td style="width:6px" >
                        <p> </p>
                    </td>
                    <td align="center" valign="top">
                        <img
                            src="{{api_env('EMAILS_PLATFORM_URL')}}{{api_env('EMAILS_IMAGES_BASE_URL')}}/bodyAlt/greenArrow.png"
                            style="border:0; height:9px; width:11px; background-color:transparent; vertical-align:top;"
                        />
                    </td>
                    <td>
                        <p style="font-size:11px; text-align: justify;">For a <b>one-off trip</b> (e.g. on vacation).</p>
                    </td>
                </tr>
                <tr>
                    <td style="width:6px" >
                        <p> </p>
                    </td>
                    <td>
                        <img
                            src="{{api_env('EMAILS_PLATFORM_URL')}}{{api_env('EMAILS_IMAGES_BASE_URL')}}/bodyAlt/greenArrow.png"
                            style="border:0; height:9px; width:11px; background-color:transparent; vertical-align:top;"
                        />
                    </td>
                    <td>
                        <p style="font-size:11px; text-align: justify;">For your <b>regular trips</b> (home-work, errands, ... When posting an ad, check "regular" then choose your days and time slots).</p>
                    </td>
                </tr>
                <tr>
                    <td style="width:6px" >
                        <p> </p>
                    </td>
                    <td align="left" valign="top">
                        <img
                            src="{{api_env('EMAILS_PLATFORM_URL')}}{{api_env('EMAILS_IMAGES_BASE_URL')}}/bodyAlt/greenArrow.png"
                            style="border:0; height:9px; width:11px; background-color:transparent; vertical-align:top;"
                        />
                    </td>
                    <td>
                        <p style="font-size:11px; text-align: justify;">For your  <b>public or private</b><a href="{{api_env('EMAILS_PLATFORM_URL')}}/covoiturages-evenements" style="color:{{api_env('EMAILS_COLOR_SECONDARY')}}">events.</a></p>
                    </td>
                </tr>
                <tr>
                    <td style="width:6px" >
                        <p> </p>
                    </td>
                    <td align="left" valign="top">
                        <img
                            src="{{api_env('EMAILS_PLATFORM_URL')}}{{api_env('EMAILS_IMAGES_BASE_URL')}}/bodyAlt/greenArrow.png"
                            style="border:0; height:9px; width:11px; background-color:transparent; vertical-align:top;"
                        />
                    </td>
                    <td>
                        <p style="font-size:11px; text-align: justify;">As part of a <a href="{{api_env('EMAILS_PLATFORM_URL')}}/covoiturage-communaute" style="color:{{api_env('EMAILS_COLOR_SECONDARY')}}">community</a> (people from the same association, or from the same leisure area, for example).</p>
                    </td>
                </tr>
                <tr>
                    <td style="width:6px" >
                        <p> </p>
                    </td>
                    <td align="left" valign="top">
                        <img
                            src="{{api_env('EMAILS_PLATFORM_URL')}}{{api_env('EMAILS_IMAGES_BASE_URL')}}/bodyAlt/greenArrow.png"
                            style="border:0; height:9px; width:11px; background-color:transparent; vertical-align:top;"
                        />
                    </td>
                    <td>
                        <p style="font-size:11px; text-align: justify;">You can even hitchhike with our Rezo Pouce stops. Discover the Rezo Pouce section dedicated to <b>hitchhiking</b> on your mobile application.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table cellpadding="6" cellspacing="6" summary="" border="0">
                <tr>
                    <td style="width:23px">
                        <p> </p>
                    </td>
                    <td align="center" style="width:100%;">
                        <a href="{{api_env('EMAILS_PLATFORM_URL')}}/covoiturage/publierannonce" style="color:{{api_env('EMAILS_COLOR_SECONDARY')}}">
                            <img
                            src="{{api_env('EMAILS_PLATFORM_URL')}}{{api_env('EMAILS_IMAGES_BASE_URL')}}/bodyAlt/buttons/publishAd.png"
                            style="border:0; height:26px; width:156px; background-color:transparent; vertical-align:top;"
                        />
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="height:15px">
            <p> </p>
        </td>
    </tr>


{# part 2 #}
    <tr>
        <td align="center">
            <table style="width:100%;" cellpadding="2" cellspacing="2" summary="" border="0" >
                <tr>
                    <td style="width:23px">
                        <p> </p>
                    </td>
                    <td align="left">
                        <p style="font-size:11px; text-align: justify;">There are now more than 550,000 carpoolers on our platform. Your involvement counts, so don't hesitate to update your ads! But perhaps we're still short of carpoolers around you? Here are a few ways to develop shared mobility:</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table cellpadding="4" cellspacing="4" summary="" border="0">
                <tr>
                    <td style="width:6px" >
                        <p> </p>
                    </td>
                    <td align="center" valign="top">
                        <img
                            src="{{api_env('EMAILS_PLATFORM_URL')}}{{api_env('EMAILS_IMAGES_BASE_URL')}}/bodyAlt/greenArrow.png"
                            style="border:0; height:9px; width:11px; background-color:transparent; vertical-align:top;"
                        />
                    </td>
                    <td>
                        <p style="font-size:11px; text-align: justify;"><b>Talk to your company about it.</b> The LOM law requires companies with more than 50 employees to implement solutions for commuting.</p>
                    </td>
                </tr>
                <tr>
                    <td style="width:6px" >
                        <p> </p>
                    </td>
                    <td>
                        <img
                            src="{{api_env('EMAILS_PLATFORM_URL')}}{{api_env('EMAILS_IMAGES_BASE_URL')}}/bodyAlt/greenArrow.png"
                            style="border:0; height:9px; width:11px; background-color:transparent; vertical-align:top;"
                        />
                    </td>
                    <td>
                        <p style="font-size:11px; text-align: justify;"><b>Use our</b>  <a href="https://cloud.mobicoop.org/index.php/s/MHxrrMN2gNaRB4t" style="color:{{api_env('EMAILS_COLOR_SECONDARY')}}">toolbox</a>, in particular our posters and texts to communicate with your elected representatives or your entourage.</p>
                    </td>
                </tr>
                <tr>
                    <td style="width:6px" >
                        <p> </p>
                    </td>
                    <td align="left" valign="top">
                        <img
                            src="{{api_env('EMAILS_PLATFORM_URL')}}{{api_env('EMAILS_IMAGES_BASE_URL')}}/bodyAlt/greenArrow.png"
                            style="border:0; height:9px; width:11px; background-color:transparent; vertical-align:top;"
                        />
                    </td>
                    <td>
                        <p style="font-size:11px; text-align: justify;">Carpool to your <b>private or public</b><a href="{{api_env('EMAILS_PLATFORM_URL')}}/covoiturages-evenements" style="color:{{api_env('EMAILS_COLOR_SECONDARY')}}"> events!</a><b>Talk to event organizers around you.</b></p>
                    </td>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="height:15px">
            <p> </p>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td style="width:23px">
                        <p> </p>
                    </td>
                    <td align="center" style="width:100%;">
                        <p style="font-size:11px;"><b style="color:{{api_env('EMAILS_COLOR_SECONDARY')}}">Enjoy carpooling on Mobicoop.fr</b></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="height:15px">
            <p> </p>
        </td>
    </tr>

</table>
{% endblock %}
