{# CAREFUL : Some client might need to replicate this template #}
{% extends 'communicationAlt/fr/email/notification/base.html.twig' %}
{% block body %}

<table style="width:480px; font-family:{{api_env('EMAILS_FONT')}}, sans-serif;" cellpadding="0" cellspacing="0" summary="" border="0">
    <tr style="margin-bottom:21px; margin-top:19px;">
        <td align="center">
            <table cellpadding="6" cellspacing="6" summary="" border="0">
                <tr>
                    <td align="center">
                        <p style="color:{{api_env('EMAILS_COLOR_PRIMARY')}}; font-size:19.5px;" text-align="center" ><b>Avez-vous oublié d’indemniser votre covoitureur ?</b></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center">
            <table style="width:100%;" cellpadding="2" cellspacing="2" summary="" border="0" >
                <tr>
                    <td style="width:23px">
                        <p> </p>
                    </td>
                    <td align="left">
                        <p style="font-size:11px; margin-bottom:16px;">Bonjour {{ context.debtor.givenName }},</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center">
            <table style="width:100%;" cellpadding="2" cellspacing="2" summary="" border="0" >
                <tr>
                    <td style="width:23px">
                        <p> </p>
                    </td>
                    <td align="left">
                        <p style="font-size:11px; text-align: justify;">
                            Le conducteur {{ context.creditor.givenName }} vous relance concernant le trajet {{ context.origin }}/{{ context.destination }} réalisé ensemble le {{ context.date|date("d-m-Y") }} pour un montant {{context.amount}} €.</p>
                        <p style="font-size:11px; text-align: justify;">
                            Pour valider/payer vos covoitureurs, rendez-vous sur votre profil, depuis l'onglet "Covoiturages acceptés" ou directement depuis le lien suivant <a href="{{api_env('EMAILS_PLATFORM_URL')}}/utilisateur/profil/modifier/mes-covoiturages-acceptes">{{api_env('EMAILS_PLATFORM_URL')}}/utilisateur/profil/modifier/mes-covoiturages-acceptes</a>.</p>
                        <p style="font-size:11px; text-align: justify;">
                            A bientôt sur {{api_env('EMAILS_PLATFORM_NAME')}} !</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="height:15px">
            <p> </p>
        </td>
    </tr>
</table>
{% endblock %}

