{% extends '@Mobicoop/base.html.twig' %}

{% block title %}Les Communautés
{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags("#{assets_prefix ?? ''}community/communities") }}

{% endblock %}
{% block main %}
    <section class="hero firstSection">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Les communautés
                </h1>
            </div>
        </div>
    </section>
    <a href="{{ path('community_create') }}">
        <button data-v-06c1a31a="" type="button"
                class="v-btn v-btn--contained theme--light v-size--default primary"><span class="v-btn__content">
                    Créer une communauté
                  </span></button>
    </a>
    <section class="hero">
        <div class="hero-body">
            {{ include("@Mobicoop/community/_comExplanation.html.twig") }}


            <br>
            <div class="container">
                <h2 class="is-size-3">
                    Une communauté, pour quoi faire?
                </h2>
                <p>La création d’une communauté permet :
                </p>
                <br>
                <ul>
                    <li>- à ses membres de se voir mutuellement et d’échanger entre eux</li>
                    <li>- de faciliter la mise en relation des covoitureurs en augmentant la confiance entre membres
                    </li>
                    <li>- de disposer d’un widget personnalisé à installer par exemple sur un intranet</li>
                    <li>- de disposer, pour le créateur de la communauté, de statistiques sur les inscrits et les
                        covoitureurs de sa communauté
                    </li>
                </ul>
            </div>
            <br>
            <div class="container">
                <h2 class="is-size-3">
                    Qui peut créer une communauté?
                </h2>
                <p>Toute personne qui le souhaite peut créer une communauté dans OuestGo à condition qu’elle soit
                    inscrite sur le site et ait envie d’animer et de dynamiser le covoiturage à son niveau. Créer une
                    communauté se fait en quelques clics sur ouestgo.fr. Cela vous permettra d’accéder au front office
                    librement. Si vous souhaitez aller plus loin dans l’animation et accéder au back office, contactez
                    xxxxx@megalis.xxx. L’ensemble des fonctionnalités d’une communauté est accessible gratuitement.
                </p>
            </div>
        </div>
    </section>
    <section class="hero cardsSection">
        <div class="columns">

            <community-list
                    :communities="{{ communities|json_encode(1) }}"
            ></community-list>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags("#{assets_prefix ?? ''}community/communities") }}
{% endblock %}