{% extends '@Mobicoop/base.html.twig' %}

{% block title %}Communauté{% endblock %}
{% block stylesheets %}
    {{ encore_entry_link_tags('bundle_community/communities') }}
{% endblock %}
{% block body %}
    <section class="hero firstSection">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Description de la communauté
                </h1>
            </div>
        </div>
    </section>
    <section class="hero cardSection">
        <div class="card">
            <div class="card-image">
                <figure class="image is-3by1">
                    <img src="https://bulma.io/images/placeholders/720x240.png" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">{{community.name}}</p>
                        <p class="subtitle is-6">Créateur de la communauté : {{community.user.givenName ~ " " ~ community.user.familyName}}</p>
                    </div>
                </div>

                <div class="content">
                    {{community.description}}
                    <br>
                    {{community.fullDescription}}
                </div>
            </div>
            {% if isMember %}
                <p style="color: darkgreen; margin-left: 10px"> Vous êtes membre  de cette communauté !</p>
            {% else %}
                {% if community.secured %}
                    <div style="padding:10px; margin-left: 10px">
                        {{ form_start(formIdentification) }}
                        {{ form_label(formIdentification.login, 'Identifiant') }}
                        {{ form_widget(formIdentification.login, {'attr': {'placeholder' : "Votre identifiant"}}) }}
                        {{  form_label(formIdentification.password, 'Date de Naissance') }}
                        {{ form_widget(formIdentification.password, {'attr': {'placeholder' : "Date de Naissance"}}) }}
                        {% if user is not null %}
                            {{ form_widget(formIdentification.submit) }}
                        {% else %}
                            {{ form_widget(formIdentification.submit, {'attr': {disabled: 'disabled'}}) }}
                            <p style="color: darkred; margin-left: 10px"> Vous devez être connecté en tant qu'utilisateur pour rejoindre cette communauté sécurisée</p>
                        {% endif %}
                        {{ form_rest(formIdentification) }}
                        {{ form_row(formIdentification.submit) }}
                    </div>
                {% else %}
                <a class="button" href="{{path('community_join', { 'id': community.id })}}" {{ user is null ? 'disabled': '' }}>Rejoindre la communauté</a>
                {{ user is null ? "<p style='color: darkred ; margin-left: 10px'> vous devez être connecté pour rejoindre une communauté": "" }}
                {% endif %}
            {% endif %}
        </div>
    </section>
    <section class="hero communautes has-text-centered">
        <a class="lien" href="{{ path('community_list') }}">Liste des communautés</a>
    </section>

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('bundle_community/communities') }}
{% endblock %}
