{# @var community \Mobicoop\Bundle\MobicoopBundle\Community\Entity\Community #}
{% extends '@Mobicoop/base.html.twig' %}

{% block title %}Communauté
{% endblock %}
{% block stylesheets %}
  {{ encore_entry_link_tags("#{assets_prefix ?? ''}community/showcommunity") }}
{% endblock %}
{% block main %}
  {# @var community \Mobicoop\Bundle\MobicoopBundle\Community\Entity\Community#}
  {% set users= [] %}
  {% set paths= [] %}
  {% for cuser in community.communityUsers %}
    {# @var user \App\User\Entity\User #}
    {%  set user= cuser.user %}
    {% set users = users|merge([user]) %}
  {% endfor %}
  {% set defaultPreviewCommunity = 'https://picsum.photos/id/237/600/300' %}
  {% set paths = paths|merge({'community_images':community.images.first |default(defaultPreviewCommunity)}) %}

  <section class="hero community-members has-text-centered">
    <community-display
            :community="{{ community|json_encode(1) }}" :users="{{ users|json_encode(1) }}"  :paths="{{ paths|json_encode(1) }}"></community-display>
  </section>

{% endblock %}
{% block javascripts %}
  {{ encore_entry_script_tags("#{assets_prefix ?? ''}community/showcommunity") }}
{% endblock %}
