{# CAREFUL : Some client might need to replicate this template #}
{% extends 'communication/fr/email/notification/base.html.twig' %}
{% block body %}    
<table style="width:100%;font-family:{{api_env('EMAILS_FONT')}}, sans-serif;">
    <tr>
        <td>
            <table style="width:100%;">
                <tr>
                    <td style="width:70%">
                        <p>Bonjour<b style="color:{{api_env('EMAILS_COLOR_PRIMARY')}}"> {{context.recipient.givenName|capitalize}} {{context.recipient.shortFamilyName|capitalize}}</b></p>
                        <p><b style="color:{{api_env('EMAILS_COLOR_PRIMARY')}}"> {{context.senderGivenName|capitalize}}  {{context.senderShortFamilyName|capitalize}} </b> a demandé à rejoindre la communauté <b><b style="color:{{api_env('EMAILS_COLOR_PRIMARY')}}">{{context.community.name}}</b></b></p>
                        <p> Rendez-vous dans le module d'administration pour valider son adhésion : <a href="{{ api_env('URL_ADMIN') }}">en cliquant ici</a> </p>
                        <p>Merci, l'équipe {{api_env('EMAILS_PLATFORM_NAME')}}</p>
                   </td>
                </tr>
            </table>
        </td>
    </tr>
    </hr>
</table>
{% endblock %}    