{# CAREFUL : Some client might need to replicate this template #}
{% extends 'communication/fr/email/notification/base.html.twig' %}
{% block body %}
    <p>{{ context.debtor.givenName|capitalize }} {{ context.debtor.shortFamilyName|capitalize }} a marqué la semaine du {{context.week}} de covoiturage entre {{context.origin}} à  {{context.destination}} comme payé à la main. </p>
    <p>Cliquez sur le lien suivant pour confirmer ce paiement à la main, ou au contraire signaler un impayé :  <a href="{{api_env('EMAILS_PLATFORM_URL')}}/utilisateur/profil/modifier/mes-covoiturages-acceptes">Valider un paiement.</a></p>
{% endblock %}
