{# CAREFUL : Some client might need to replicate this template #}
{% extends 'communication/fr/email/notification/base.html.twig' %}
{% block body %}
    <p>
        Bonjour vous avez une nouvelle demande de contact.
    </p>

    <ul>
        <li>Nom : {{ context.contact.familyName ? context.contact.familyName : "Non renseigné" }}</li>
        <li>Prénom : {{ context.contact.givenName ? context.contact.givenName : "Non renseigné" }}</li>
        <li>Email : {{ context.contact.email }}</li>
        <li>Demande : {{ context.contact.demand ? context.contact.demand : "Non renseigné" }}</li>
    </ul>
    <p>{{ context.contact.message|nl2br }}</p>
    <p>"A bientôt sur <a style="color:{{api_env('EMAILS_COLOR_PRIMARY')}}" href="{{api_env('EMAILS_PLATFORM_URL')}}">{{api_env('EMAILS_PLATFORM_NAME')}}</a>
{% endblock %}
