{# CAREFUL : Some client might need to replicate this template #}
{% extends 'communication/fr/email/notification/base.html.twig' %}
{% block body %}

    <table align="center" style="border-spacing:0;text-align:left;vertical-align:top;width:100%;margin-top:20px;font-family:Roboto, sans-serif;">
    <tr>
        <td>
            <p>Bonjour<b style="color:{{api_env('EMAILS_COLOR_PRIMARY')}}"> {{context.user.givenName|capitalize}} {{context.user.shortFamilyName|capitalize}}</b>,</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Une personne inscrite sur <strong>{{ "youReceivedExternalContactOrigin"|trans({'%origin%':context.origin}) }}</strong> souhaite vous solliciter pour un covoiturage.</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>Ce message concerne votre trajet de <strong>{{ context.journeyOrigin }}</strong> à <strong>{{ context.journeyDestination }}</strong>{% if context.journeyDate != '' and context.journeyTime != '' %} prévu le {{ context.journeyDate }} à {{ context.journeyTime }}{% endif %}.</p>
        </td>
    </tr>
    <tr>
        <td>
            <p><strong>Son message :</strong></p>
            <hr />
            <p>{{ context.text | nl2br }}</p>
            <hr />
        </td>
    </tr>
    <tr>
        <td>
            <p>Cette personne étant inscrite sur une autre plateforme de covoiturage, vous ne pouvez pas lui répondre via {{ api_env('EMAILS_PLATFORM_NAME') }}</p>
            <p>En revanche, vous pouvez utiliser les coordonnées qu'elle vous a, en principe, transmises dans son message pour la contacter directement.</p>
        </td>
    </tr>
    <tr>
        <td>
            <p>A bientôt sur <a style="color:{{api_env('EMAILS_COLOR_PRIMARY')}}" href="{{api_env('EMAILS_PLATFORM_URL')}}">{{api_env('EMAILS_PLATFORM_NAME')}}</a>
        </td>
    </tr>
    </table>
{% endblock %}
