{%- use "@Mobicoop/form/bulma.html.twig" -%}

{# mobicoop form theme #}

{# Widgets #}

{# {%- block vueradio_widget -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' control')|trim}) -%}
    {%- set vtype = 'vueradio' -%}
    <template>
        <section>
            <div {{ block('widget_container_attributes') }}>
                {%- for child in form -%}
                    {{- form_widget(child, {
                        inline_choice: inline_choice|default(false),
                        translation_domain: choice_translation_domain,
                        vtype:vtype
                    }) -}}
                {%- endfor -%}
                {{- block('form_errors') -}}
            </div>
        </section>
    </template>
{%- endblock vueradio_widget -%}

{% block radio_widget -%}
    {% if (vtype is defined) %}
        {{- block('vradio_widget') -}}
    {% else %}
        {{- form_label(form, null, { widget: parent() }) -}}
    {% endif %}
{%- endblock radio_widget %}

{% block vradio_widget -%}
    {%- if translation_domain is same as(false) -%}
        {% set vlabel = label %}
    {%- else -%}
        {% set vlabel = label|trans({}, translation_domain) %}
    {%- endif -%}
    <vradio {{ block('widget_attributes') }}
        :name="{{ full_name }}"
        :id="'{{ id }}'"
        :model="role"
        :value="'{{ value }}'" 
        :label="'{{ vlabel }}'"
        :checked="{{ checked ? 'true' : 'false' }}"
        >
    </vradio>
{%- endblock vradio_widget %} #}


{# Labels #}

{# Rows #}

{#{%- block form_row -%}#}
{#    <div class="field is-horizontal">#}
{#    	<div class="field-label">#}
{#	        {{- form_label(form) -}}#}
{#	    </div>#}
{#	    <div class="field-body">#}
{#    		<div class="field">#}
{#                {{- form_widget(form) -}}#}
{#                {%- if form.vars.attr.help_text is defined -%}#}
{#                    <p class="help">{{ form.vars.attr.help_text }}</p>#}
{#                {%- endif -%}#}
{#                {{- block('form_errors') -}}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{%- endblock form_row -%}#}
{#{%- block widget_attributes -%}#}
{#	id="{{ id }}" name="{{ full_name }}" aria-describedby="{{ id }}" aria-labelledby="{{ label }}" aria-label="{{ label }}"#}
{#	{%- if disabled %} disabled="disabled"{% endif -%}#}
{#	{%- if required %} required="required"{% endif -%}#}
{#	{{ block('attributes') }}#}
{#{%- endblock widget_attributes -%}#}

{% block form_row -%}
	{% set showErrorIcon = (not compound or force_error|default(false)) and not valid %}
	<div class="field is-horizontal
{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}{{ showErrorIcon ? ' has-feedback' : '' }}
">
		<div class="field-label ">
			{{- form_label(form) -}}
		</div>
		<div class="field-body">
			<div class="field">
				{% if help|default %}
{#								{% trans %}label{% endtrans %}#}
{#					 set the aria-describedby attribute#}
					{%- set attr = attr|merge({'aria-describedby': 'help-block-'~id, 'aria-labellebedby': label|trans({}, translation_domain) }) -%}
{#								{{ dump(attr) }}#}
				{% endif %}
				{{- form_widget(form, {
					'attr': attr
				}) -}}
			</div>
			{% if help|default %}
				<span class="help-block" id="help-block-{{ id }}" style="font-style: italic">{{ help|trans({}, translation_domain) }} </span>
			{% endif %}
			{{- form_errors(form) -}}
		</div>
	</div>
{%- endblock form_row %}

{#surcharge widget pour aria#}
{%- block password_widget -%}
	{%- set type = type|default('password') -%}

	{%- if type == 'range' or type == 'color' -%}
{#		 Attribute "required" is not supported#}
		{%- set required = false -%}
	{%- endif -%}
	<input type="{{ type }}" class="input" {{ block('widget_attributes_pass') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{#pas utile car rendu par le form_row mais peut etre à faiore autrement si surcharge différente pour rendre les contenus d'accessbilité#}
	{#	{% if help|default %}#}
{#	<span class="help-block" id="help-block-{{ id }}" style="font-style: italic; color: #187a20">{{ help|trans({}, translation_domain) }} </span>#}
{#	{% endif %}#}
{#	{{- form_errors(form) -}}#}

{%- endblock password_widget -%}
{%- block widget_attributes_pass -%}
	id="{{ id }}" name="{{ full_name }}" label="{{ label|trans({}, translation_domain) }}"

		{# set the aria-describedby attribute #}
	{#	{% if help|default %}#}
	{%- set attr = attr|merge({'aria-describedby': 'help-block-'~id, 'aria-labellebedby': label|trans({}, translation_domain) }) -%}
	{#	{% endif %}#}


	{%- if disabled %} disabled="disabled"{% endif -%}
	{%- if required %} required="required"{% endif -%}
	{{ block('attributes') }}
{%- endblock widget_attributes_pass -%}


{%- block geocomplete_row -%}
    <div class="field is-horizontal">
    	<div class="field-label">
	        {{- form_label(form) -}}
	    </div>
	    <div class="field-body">
    		<div class="field">
    		    <geocomplete 
                	:url="'{{ form.vars.url }}'"
                	:required="'{{ form.vars.required }}'"
                	:placeholder="`{{ translation_domain is same as(false) ? form.vars.attr.placeholder : form.vars.attr.placeholder|trans({}, translation_domain) }}`"
                	:iclass="'input'"
                	:name="'{{ full_name }}'"
                	:streetaddress="'{{ form.parent.vars.name }}[{{ form.vars.address }}][streetAddress]'"
                	:postalcode="'{{ form.parent.vars.name }}[{{ form.vars.address }}][postalCode]'"
                	:addresslocality="'{{ form.parent.vars.name }}[{{ form.vars.address }}][addressLocality]'"
                	:addresscountry="'{{ form.parent.vars.name }}[{{ form.vars.address }}][addressCountry]'"
                	:longitude="'{{ form.parent.vars.name }}[{{ form.vars.address }}][longitude]'"
                	:latitude="'{{ form.parent.vars.name }}[{{ form.vars.address }}][latitude]'"
                	></geocomplete>
                {%- if form.vars.attr.help_text is defined -%}
                    <p class="help">{{ form.vars.attr.help_text }}</p>
                {%- endif -%}
            </div>
            {{- block('form_errors') -}}
        </div>
    </div>
{%- endblock geocomplete_row -%}

{%- block datepicker_row -%}
    <div class="field is-horizontal">
    	<div class="field-label">
	        {{- form_label(form) -}}
	    </div>
	    <div class="field-body">
    		<div class="field">
    		    <datepicker
                    :name="'{{ full_name}}'"
                    dclass='input'
                    :vdate="'{{ value }}'"
                    ></datepicker>
                {%- if form.vars.attr.help_text is defined -%}
                    <p class="help">{{ form.vars.attr.help_text }}</p>
                {%- endif -%}
            </div>
            {{- block('form_errors') -}}
        </div>
    </div>
{%- endblock datepicker_row -%}

{%- block timepicker_row -%}
    <div class="field is-horizontal">
    	<div class="field-label">
	        {{- form_label(form) -}}
	    </div>
	    <div class="field-body">
    		<div class="field">
    		    <timepicker
                    :name="'{{ full_name}}'"
                    tclass='inputt'
                    :vdate="'{{ value }}'"
                    ></timepicker>
                {%- if form.vars.attr.help_text is defined -%}
                    <p class="help">{{ form.vars.attr.help_text }}</p>
                {%- endif -%}
            </div>
            {{- block('form_errors') -}}
        </div>
    </div>
{%- endblock timepicker_row -%}

{%- block timepicker_widget -%}
<div class="field-body">
    <div class="field">
        <timepicker
            :name="'{{ full_name}}'"
            tclass='inputt'
            :vdate="'{{ value }}'"
            ></timepicker>
        {%- if form.vars.attr.help_text is defined -%}
            <p class="help">{{ form.vars.attr.help_text }}</p>
        {%- endif -%}
    </div>
    {{- block('form_errors') -}}
</div>
{%- endblock timepicker_widget -%}



{#{%- block choice_widget_collapsed -%}#}
{#	{% spaceless %}#}
{#		{%- set size_class = '' -%}#}
{#		{%- for size in ['is-small', 'is-medium', 'is-large'] if size in form.vars.attr.class|default('') -%}#}
{#			{%- set size_class = size -%}#}
{#		{%- endfor -%}#}
{#		{%- set is_multiple_class = multiple ? ' is-multiple' : '' -%}#}
{#		<div {{ block('form_widget_container_attributes') }}>#}
{#        <span class="{{ ('select ' ~ size_class ~ is_multiple_class)|trim }}">#}
{#            {{- parent() -}}#}
{#        </span>#}
{#			{{- block('form_errors') -}}#}
{#		</div>#}
{#	{% endspaceless %}#}
{#{%- endblock choice_widget_collapsed -%}#}



{#{%- block ariatext_row -%}#}
{#	<div class="field is-horizontal">#}
{#		<div class="field-label">#}
{#			{{- form_label(form) -}}#}
{#		</div>#}
{#		<div class="field-body">#}
{#			<div class="field">#}
{#				{% if help|default %}#}
{#					#}{# set the aria-describedby attribute #}
{#					{%- set attr = attr|merge({'aria-describedby': 'help-block-'~id }) -%}#}
{#				{% endif %}#}
{#				{{- form_widget(form, {#}
{#					'attr': attr#}
{#				}) -}}#}
{#				{% if help|default %}#}
{#					<span class="help-block" id="help-block-{{ id }}">{{ help }}</span>#}
{#				{% endif %}#}
{#				{{- form_errors(form) -}}#}
{#				{%- if form.vars.attr.help_text is defined -%}#}
{#					<p class="help">{{ form.vars.attr.help_text }}</p>#}
{#				{%- endif -%}#}


{#				{{ block('widget_attributes') }}#}
{#						aria-label="'{{ form.vars.aria_label }}'"#}
{#						aria-required="'{{ form.vars.aria_required }}'"#}
{#						aria-describedby="'{{ form.vars.aria_describedby }}'"#}
{#						aria-labelledby="'{{ form.vars.aria_labelledby }}'"#}
{#			</div>#}
{#			{{- block('form_errors') -}}#}
{#		</div>#}
{#	</div>#}
{#{%- endblock ariatext_row -%}#}
{# Errors #}

{# Support #}

{# {% block attributes -%}
    {%- if vtype is not defined -%}
        {%- for attrname, attrvalue in attr -%}
            {{- " " -}}
            {%- if attrname in ['placeholder', 'title'] -%}
                {{- attrname }}="{{ translation_domain is same as(false) ? attrvalue : attrvalue|trans({}, translation_domain) }}"
            {%- elseif attrvalue is same as(true) -%}
                {{- attrname }}="{{ attrname }}"
            {%- elseif attrvalue is not same as(false) -%}
                {{- attrname }}="{{ attrvalue }}"
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
{%- endblock attributes -%} #}